---
ref: index
layout: default
lang: en
---

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="{{ "/images/SOTM_2019.png" | relative_url }}" alt="State of the Map LATAM - Encarnacion 2019" class="img-responsive main-logo">
          <h1>¿What world do your <span>maps show?</span></h1>
          <h4 class="margin: 0px">Encarnación - Paraguay</h4>
          <h2>14<sup>th</sup> - 15<sup>th</sup> - 16<sup>th</sup> November</h2>
          <div class="about-button">
            <span class="col-xs-12 col-sm-4 btn-item">
              <a class="btn btn-default" href="https://www.eventbrite.com/e/osm-latam-py-2019-tickets-70204859625" target="_blank" role="button">Register</a>
            </span>
            <span class="col-xs-12 col-sm-4 btn-item">
              <a href="#about" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </span>
            <span class="col-xs-12 col-sm-4 btn-item">
              <a target="_blank" class="btn btn-default"
              href="" role="button">
                Send your presentation <br> Soon
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- seccion  historia-->

<section id="historia" class="container content-section">
  <div class="row text-center">
    <h2>What world do your maps reveal?</h2>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>
        Historically, cartography has always been not only a technical skill, but a mechanism to portray the world and control the world. Based on this throughout history, mapping and map production has always been or been associated with those who hold power: states, armies and, in our contemporary world, more and more, companies and corporations.
      </p>
      <p>
        The production of maps was always linked to power based on the need to make visible natural resources, possible colonies, or trade routes. Additionally, maps are artifacts used to describe territories to consolidate or protect in strategic / military terms.
      </p>
      <p>
        As a result of the above, throughout history, cartography has been predominantly, a mechanism of power that allows certain social sectors to have not only a more accurate view of reality, but greater control and influence over the same.
      </p>
      <p>
        In the contemporary world, these asymmetries of power and knowledge do not only refer to the dynamics between governments and citizens. Around the world, national states face different levels of crisis in the most diverse areas of governance and legitimacy. In this context, national cartography institutions are no longer, in many countries, the main cartographic actors.
      </p>
      <p>
        In this context, and for many practical purposes, today the world's largest cartography production entities are corporations that use various technologies such as satellite mapping, artificial intelligence, the use of predictive algorithms or big data to produce what products are perhaps The most complete and extensive cartographies ever produced in the history of mankind.
      </p>
      <p>
        The problem lies in the fact that these huge geospatial databases - with the gigantic asymmetry in levels of knowledge and practical power involved - are under the domain of corporations that operate for commercial purposes.
      </p>
      <p>
        In this sense, the existence of alternative platforms such as Open Street Map, which allow the collaborative mapping of the world constitute a huge academic - scientific tool, and a space of opportunity and empowerment for individuals and communities who wish to better and more democratically understand and describe their world.
      </p>
      <p>
        Indeed, Open Street Map is not only a technical tool that allows to produce cartography to almost any person in the world with an extremely low threshold of knowledge and technological requirements. It is an extremely powerful pragmatic mechanism, whereby communities, activists, social organizations and academic institutions can produce cartographies or representations of the physical world, which are not centrally linked to commercial aspirations, private property management, or military defense.
      </p>
      <p>
        From the organization of the event, we are convinced that it is essential to reconsider cartography and its role as a multi-purpose tool for civil use that allows democratic discussion of how to design the territories in which we live, in a more sustainable, inclusive, democratic and participatory
      </p>
      <p>
        In this sense, the motto of the 2019 call is: What world do your maps reveal? Through this motto we want to ask the Open Street Map user community in Latin America about the uses they give to the platform.
      </p>
      <p>
       
How are you using Open Street Map in your daily activities and projects? And what aspects of reality can you reveal thanks to the use of this tool?
We are interested to know how do activists who are working for social inclusion or community empowerment use Open Street Map? How is Open Street Map being used to portray and discuss situations of deterioration and environmental risk or detect urban / territorial opportunities for cities in Latin America, the global south and other regions of the world?
      </p>
      <p>
        We are interested in discussing how Open Street Map is incorporating the gender approach, in order to broadly discuss the role of women in space and their role as a central actress in the construction of territories? How is Open Street Map used in conjunction with programming or open source interfaces, in order to link databases and produce new information and services that are relevant to the contemporary world?
      </p>
      <p>
        We believe that from this premise of asking ourselves, what world do the maps we produce reveal? We can have a highly productive debate that synthesizes and reflects the rich work that is being done throughout Latin America using Open Street Map producing not only more cartographic knowledge, but empowered and critical communities and individuals that serve as vital actors in the construction of their territories .
      </p>
    </div>
  </div>
</section>

<!-- seccion de descripcion -->
<section id="about" class="container content-section">
  <div class="row content-section">
    <h2 class="row text-center">
      Description of the event</h2>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <p>
      This conference aims to bring together members of the OpenStreetMap community throughout Latin America. We hope to have a mix of workshops, project presentations and presentations of OSM data use cases. Additionally, we will have conferences developed by leading regional exponents, who have contributed significantly to the culture of open geospatial data and participatory mapping.
    </p>
    <p>
      SotM Latam is an event that promotes interaction between users from different communities and organizations.
    </p>
    <p>
      The event will take place on November 14, 15 and 16 at the Autonomous University of Encarnación, Ciudad de Encarnación, Paraguay.
    </p>
    <p>We look forward to your presence, and your contributions!</p>
  </div>
</section>

<!---seccion de historia-->
<section id="history" class="container content-section text-center">
  <div class="row">
    <h2>
      History
    </h2>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>
        The State of the Map Latam is the annual conference for all the creators of maps and users of 
        OpenStreetMap in Latin America. <b>This will be the fourth edition</b> of the event. 
        <a target="_blank" href="https://wiki.openstreetmap.org/wiki/State_Of_The_Map_Latam_2015">The first</a>
         was held in Santiago de Chile from September 4 to 6, 2015 and had approximately 200 attendees, 
         with a public that varied from individual users of OSM to companies, and local bicycle activists.
      </p>
      <p>
        <a target="_blank" href="https://wiki.openstreetmap.org/wiki/State_Of_The_Map_Latam_2016">The second edition</a>
         was held in Sao Paulo, Brazil, and had a large number of participants from across the region and 
         international guests, representation from state institutions, social organizations, among others.
      </p>
      <p>
        <a target="_blank" href="http://wiki.openstreetmap.org/wiki/State_Of_The_Map_Latam_2017">The third edition</a>
         was held in Lima, Peru, from November 29 to December 2, 2017.
        Mapping workshops, round tables and talks on the community were developed.
      </p>
      <!--
      <a data-toggle="modal" data-target="#code-of-conduct-{{page.lang}}" href="">código de conducta</a>.
      --->
    </div>
  </div>
</section>


<!---Sección Open street map en latinoamérica-->
<section id="osmlatam" class="container content-section text-center">
  <div class="row">
    <h2>
      Open Street Map in Latin America
    </h2>
  </div>
  <div class="col-md-8 col-md-offset-2 text-left">
    <p>
        OpenStreetMap has a growing and active community in the region. They routinely ask us 
        how to use OpenStreetMap in different use cases, from the widest to the most specific 
        from all places in Latin America.
    </p>
    <p>
        Latin American communities are among the most active groups in OpenStreetMap. 
        A great diversity of projects are happening in most of the countries of the region, 
        some of them are:
    </p>
    
    <ul>
      <li>
        <p>
          <a target="_blank" href="http://openstreetmap.mx/?reqp=1&reqr=">OpenStreetMap México </a>organizes bi-monthly events 
          and worked on the import of public data from INEGI, the National Institute of Statistics and Geography, 
          it also has a broad articulation with the academic sector
        </p>
      </li>
    </ul>
    
    <ul>
      <li>
        <p>
          In Costa Rica, the <a target="_blank" href="https://www.fundecor.org/">FUNDECOR </a> foundation is mapping and 
          using OpenStreetMap data to plan actions in areas that are at risk of flooding
        </p>
      </li>
    </ul>

    <ul>
      <li>
        <p>
            In Nicaragua, the <a target="_blank" href="https://www.mapanica.net/">Mapanica </a>project mapped the bus routes 
            in OSM and made the country's first transportation map and the first comprehensive transportation 
            solution in all of Central America
        </p>
      </li>
    </ul>

    <ul>
      <li>
        <p>
          In <a target="_blank" href="https://blog.openstreetmap.co/s657">Colombia</a>, the community is organizing large events and various actions
          of humanitarian mapping joint social organizations
        </p>
      </li>
    </ul>

    <ul>
      <li>
        <p>
          After the earthquake that occurred in Ecuador on April 16, the local community organized a mapaton 
          (mapping activity) to improve the map of the regions affected by the earthquake
        </p>
      </li>
    </ul>

    <ul>
      <li>
        <p>
          During the first <a target="_blank" href="https://www.openstreetmap.org/user/wille/diary/38623">Free Software Conference of Cuba </a> (CubaConf), 
          mappers from Cuba and other Latin American countries organized some actions such as a map, talks and mapping workshops to grow the OSM community in Cuba
        </p>
      </li>
    </ul>

    <ul>
      <li>
        <p>
          <a target="_blank" href="https://mapazonia.org/">Mapazonia</a>, a project to improve the map of the Amazon rainforest region
        </p>
      </li>
    </ul>

    <ul>
      <li>
        <p>
          In Sao Paulo and Rio de Janeiro, building data imports are being carried out.
        </p>
      </li>
    </ul>

    <ul>
      <li>
        <p>
          In <a target="_blank" href="http://osmargentina.org/#3/-44.8/-63">Argentina</a> there are multiple projects 
          in development such as the reclassification of towns, cities and routes. It is trying to get 100% of 
          the populations with the heights of the streets and the face of public transport in large cities. 
          We are also in permanent contact with members of 
          <a target="_blank" href="http://www.ign.gob.ar/">IGN</a>, <a target="_blank" href="https://www.idera.gob.ar/">IDERA</a>
          , <a target="_blank" href="https://www.argentina.gob.ar/ciencia/conae">CONAE</a>, 
          <a target="_blank" href="https://www.facebook.com/GeoinquietosArgentina/">Geoinquietos Argentina</a>
          , <a target="_blank" href="https://www.osgeo.org/">OSGeo.</a>
          There is also a strong work with Mapillary and OpenStreetCam collaborators. 
          In 2014 a global conference on the state of the map was organized (the first SotM conference in the southern hemisphere) 
          and since then three editions of <a target="_blank" href="http://foss4g-ar.org/"> FOSS4G</a> Argentina
        </p>
      </li>
    </ul>

    <ul>
      <li>
        <p>
          <a target="_blank" href="https://geochicasosm.github.io/lascallesdelasmujeres/">Las calles de las mujeres</a> is a project generated 
          from the streets with the name of women, in different Spanish-speaking cities (Latin America and Spain). The objective is to make 
          visible the gap that historically exists in the representation of female figures in the streets of cities.
        </p>
      </li>
    </ul>
  </div>
</section>

<!-- Seccion Inclusion Social-->
<section id="inclusion" class = "container content-section">
  <div class="row text-center">
    <h2>
      Social inclusion

    </h2>
  </div>
  <div class="col-md-8 col-md-offset-2 text-left">
    <p>How is Open Street Map used as a participatory mechanism that fosters social inclusion? We are interested in presentations or workshops in which the use of OSM as a tool for social inclusion is exemplified, through initiatives that include issues such as the visibility of communities, the delimitation of neighborhoods of social interest oriented to the legalization of land tenure , the definition of indigenous territories or the spatial demarcation of territories where urban groups operate or live, such as deprived communities, urban recyclers, etc. In sum, how OSM can help communities overcome situations of exclusion.
    </p>
  </div>
</section>

<!-- seccion  Empoderamiento -->
<section id='empoderamiento' class="container content-section">
  <div class="row text-center">
    <h2>Empowerment of communities and groups:</h2>
  </div>
  <div class="col-md-8 col-md-offset-2 text-left">
    <p>Knowing better the world in which one lives and acts allows individuals and communities in general - not only those who suffer situations of exclusion or social injustice - to actively work towards improvements in their territory. This line of work and research is suitable for initiatives in which OSM is used to empower groups and communities. We seek proposals for papers and workshops that illustrate processes such as the use of OSM to boost economic activities, the democratic and sustainable use of public spaces, or the formation of networks of work and collaboration between actors from various sectors.</p>
  </div>
</section>


<!-- seccion  Deterioro -->
<section id='deterioro' class="container content-section">
  <div class="row text-center">
    <h2>Deterioration and environmental risk:
    </h2>
  </div>
  <div class="col-md-8 col-md-offset-2 text-left">
    <p>The purpose of this line of work and research in the context of SotM Latam 2019 is to explore how activists, communities, academia and public entities use Open Street Map as a tool to record, map and make visible situations of deterioration and environmental risk. We are interested in research and work that make visible sources of pollution or spaces in which there are risks of floods, landslides or other conditions of environmental or social vulnerability. </p>
    <p>Open Street Map provides a very powerful tool to systematically record deterioration and risk situations, communicate them to society as a whole and build agreements and projects that allow mitigating or eliminating the challenge situations detected.
    </p>
  </div>
</section>

<!-- seccion  oportunidades -->
<section id='oportunidades' class="container content-section">
  <div class="row text-center">
    <h2>Urban / territorial opportunities:</h2>
  </div>
  <div class="col-md-8 col-md-offset-2 text-left">
    <p>Each city and territory contains, in itself, opportunities, and mapping is a mechanism to unveil those opportunities. In this line of research and work we are interested in deepening experiences that use OSM as a platform to visualize the potential opportunities of a territory. There are empty buildings in your neighborhood, which have the potential to become protected housing? Are there vacant lots that can become urban parks or orchards? There are large urban gaps in a city, which can become a park system? Are there watersheds that can be converted into recreation spaces? Has OSM helped you detect and portray these situations? If so, this is the line of work and research for your presentation or workshop!
    </p>
  </div>
</section>


<!-- seccion  Enfoque de Genero -->
<section id='genero' class="container content-section">
  <div class="row text-center">
    <h2>Gender approach:</h2>
  </div>
  <div class="col-md-8 col-md-offset-2 text-left">
    <p>Gender-focused interests are underrepresented in collaborative maps. It is common for unconscious biases to occur within a community made up mostly of men. "Maps do not emerge in the same way for all people." From this condition derives the importance that the community and the people who produce the maps are diverse, enable the differences and generate safe spaces for minorities. The gender track at the conference will cover the experiences, projects, initiatives and proposals of women and gender dissidents within the OpenStreetMap community.

    </p>
     
  </div>
</section>


<!-- seccion  Programacion-->
<section id='programacion' class="container content-section">
  <div class="row text-center">
    <h2>Programming:</h2>
  </div>
  <div class="col-md-8 col-md-offset-2 text-left">
    <p>OpenStreetMap is not only open data, but also open source. The purpose of this line of work is to deepen in what ways we can contribute to the development of the platform and achieve the objectives proposed in the Top Ten Task. We are also interested in exploring cases of application of software and services for the development of other platforms. In this context, workshops and presentations that illustrate cases where the platform services are integrated to provide technological solutions, as well as contributions to the development of the OpenStreetMap core, are of interest.

    </p>
     
  </div>
</section>


<!---Secciòn tematicas-->
<section id="tematicas" class="container content-section text-center">
    <div class="row">
      <h2>
        Research and Activism Lines - LATAM - 2019
      </h2>
    </div>
    <div class="col-md-8 col-md-offset-2 text-left">
      <ul>
        <li>
          <p>Social exclusion</p>
        </li>
        <li>
          <p>Empowerment of communities</p>
        </li>
        <li>
          <p>Deterioration and environmental risk</p>
        </li>
        <li>
          <p>Urban / territorial opportunities</p>
        </li>
        <li>
          <p>Gender Approach</p>
        </li>
        <li>
          <p>Programming</p>
        </li>
      </ul>
    </div>
  </section>

<!---Secciòn Audiencia esperada-->
<section id="audiencia" class="container content-section text-center">
  <div class="row">
    <h2>
      Expected audience
    </h2>
  </div>
  <div class="col-md-8 col-md-offset-2 text-left">
    <ul>
      <li>
        <p>Mapping and users of OpenStreetMap</p>
      </li>
      <li>
        <p>GIS professionals (Geographic Information Systems)</p>
      </li>
      <li>
        <p>Business professionals interested in the use of OSM data</p>
      </li>
      <li>
        <p>Open data communities</p>
      </li>
      <li>
        <p>Computer science, urbanism and geography students</p>
      </li>
      <li>
        <p>State institutions</p>
      </li>
      <li>
        <p>Academy</p>
      </li>
    </ul>
  </div>
</section>

<!---Secciòn Agenda-->
<section id="program" class="container content-section">
  <div class="row text-center">
    <h2>
      General Agenda
    </h2>
  </div>
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Event</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Thursday, November 14<sup>th</sup></td>
          <td>08:00 - 09:00</td>
          <td>Accreditations</td>
        </tr>
        <tr>
          <td>Thursday, November 14<sup>th</sup></td>
          <td>09:00 - 09:30</td>
          <td>Welcome words</td>
        </tr>
        <tr>
          <td>Thursday, November 14<sup>th</sup></td>
          <td>09:30 - 10:00</td>
          <td>Indications and guidelines on the methodology of the event</td>
        </tr>
        <tr>
          <td>Thursday, November 14<sup>th</sup></td>
          <td>10:00 - 12:00</td>
          <td>Talks and workshops in simultaneous</td>
        </tr>
        <tr>
          <td>Thursday, November 14<sup>th</sup></td>
          <td>12:00 - 13:00</td>
          <td>Lunch</td>
        </tr>
        <tr>
          <td>Thursday, November 14<sup>th</sup></td>
          <td>13:00 - 17:00</td>
          <td>Talks and workshops in simultaneous</td>
        </tr>
        <tr>
          <td>Friday, November 15<sup>th</sup></td>
          <td>08:30 - 12:00</td>
          <td>Talks and workshops in simultaneous</td>
        </tr>
        <tr>
          <td>Friday, November 15<sup>th</sup></td>
          <td>12:00 - 13:00</td>
          <td>Lunch</td>
        </tr>
        <tr>
          <td>Friday, November 15<sup>th</sup></td>
          <td>13:00 - 17:00</td>
          <td>Talks and workshops in simultaneous</td>
        </tr>
        <tr>
          <td>Friday, November 15<sup>th</sup></td>
          <td>19:00 - ...</td>
          <td>Geo-beers, meeting and networking space</td>
        </tr>
        <tr>
          <td>Saturday, November 16<sup>th</sup></td>
          <td>08:30 - 11:00</td>
          <td>Talks and workshops in simultaneous</td>
        </tr>
        <tr>
          <td>Saturday, November 16<sup>th</sup></td>
          <td>11:00 - 12:00</td>
          <td>Final presentation</td>
        </tr>
        <tr>
          <td>Saturday, November 16<sup>th</sup></td>
          <td>Afternoon</td>
          <td>Option 1: Afternoon tour to the Jesuit route of the region with an afternoon duration.
          </td>
        </tr>
        <tr>
          <td>Saturday, November 16<sup>th</sup></td>
          <td>Afternoon - Sunday</td>
          <td>Option 2: Day and a half of tourism to the waterfalls of Yguazu.
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<section class="container content-section text-center">
    <div class = "row">
      <div class = "col-md-4">
        <h2>HOW TO GET</h2>
        <p>In construction</p>
        <button  class="btn btn-default">Soon</button>
      </div>
      <div class = "col-md-4">
        <h2>Housing</h2>
        <p>In construction</p>
        <button  class="btn btn-default">Soon</button>
      </div>
      <div class = "col-md-4">
          <h2>Tourism</h2>
          <p>In construction</p>
        <button  class="btn btn-default">Soon</button>
        
      </div>
    </div>
  </section>
<section class="container content-section text-center">
  <div class="row">
    <h2> Videos</h2>

    <div class="col-md-6">
      <iframe class="video-size"  src="https://www.youtube.com/embed/MU94slqnquw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
      <iframe class="video-size" src="https://www.youtube.com/embed/20eFJO83Y80" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row ">
    <div class="col ">
      <iframe class="video-size-full" src="https://www.youtube.com/embed/XdFkUjZf5-4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
</section>

<section id="venue" class="container content-section text-center">
  <div class="row text-center">
    <h2>
      Venue
    </h2>
  </div>

  <div class="container-fluid row">{% include map.html %}</div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-sm-12">
        <div class="thumbnail">
          <div class="caption text-center">
            <h3>Universidad Autónoma de Encarnación</h3>
            <p class="venue">
              The event will be held in the urban auditorium of the Universidad Autónoma de Encarnación, in the city of Encarnación, Paraguay
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>


 <!---
<section id="join-us" class="container content-section text-center">
  <div class="row text-center">
    <h2>
      How to participate
    </h2>
  </div>

  <div class="row">

    <div class="col-sm-4 col-md-3 col-md-offset-1">
      <a href="https://www.papercall.io/events/1195">
        <div class="thumbnail">
          <span class="glyphicon glyphicon-check"></span>
          <div class="caption text-center">
            <h3>Register</h3>
            <p>Send your talk proposal until September 7th</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <span class="glyphicon glyphicon-comment"></span>
        <div class="caption text-center">
          <h3>Share</h3>
          <p>Invite your friends and spread the word!</p>
          <div class="row">
            <div class="col-md-6 text-right twitter-col">
              <a class="twitter-share-button"
              href="https://twitter.com/intent/tweet?text=Participa%20del%20State%20of%20the%20Map%20Latam%202018!%20La%20Conferencia%20Latinoamericana%20de%20OpenStreetMap,%2024%20Sep%20-%2025%20Sep%20en%20Buenos%20Aires"
              data-size="large">
                Tweet
              </a>
            </div>
            <div class="col-md-6 text-left fb-col">
              <div class="fb-like" data-href="http://state.osmlatam.org"
              data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-md-3">
      <a href="mailto:info@osmlatam.org?subject=Sponsorship">
        <div class="thumbnail">
          <span class="glyphicon glyphicon-briefcase"></span>
          <div class="caption text-center row">
            <h3>Sponsor</h3>
            <p>Promote your business and support the Latam community. Write to us info@osmlatam.org</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>

<section id="sponsors" class="container content-section text-center">
   <div class="row text-center">
    <h2>
      Sponsored by
    </h2>
 

 </div>
    <div class="col-sm-offset-4 col-sm-offset-4 col-sm-4 col-md-4">
      <a href="http://kaartgroup.com/" target="_blank" class="thumbnail">
        <img src="{{ "/images/kaart-logoh.jpg" | prepend: site.baseurl }}" alt="kaart" width="200">
      </a>
    </div>

</section>
<section id="apoyo" class="container content-section text-center">
  <div class="row text-center">
    <h2>
      Supported by
    </h2>
 

 </div>
    <div class="col-sm-4 col-md-4">
      <a href="https://www.argentina.gob.ar/modernizacion/" target="_blank" class="thumbnail">
        <img src="{{ "/images/modernizacion.png" | prepend: site.baseurl }}" alt="modernizacion" width="200">
      </a>
    </div>

    <div class="col-sm-4 col-md-4"> 
      <a href="http://centroargentinodecartografia.org/" target="_blank" class="thumbnail">
        <img src="{{ "/images/cac.png" | prepend: site.baseurl }}" alt="cac" width="100">
      </a></div>

      <div class="col-sm-4 col-md-4">
 <a href="http://geoinquietos.org/grupos/argentina/" target="_blank" class="thumbnail">
        <img src="{{ "/images/geoinquietos-new.png" | prepend: site.baseurl }}" alt="geoinquietos" width="200">
      </a>
     </div> 
            <div class="col-sm-offset-4 col-sm-offset-4 col-sm-4 col-md-4">
 <a href="https://geochicas.org/" target="_blank" class="thumbnail">
        <img src="{{ "/images/geochicas.jpg" | prepend: site.baseurl }}" alt="geochicas" width="200">
      </a>
     </div>      
  <br>
</section>
<section id="transporte" class="container content-section text-center">
 <div class="row text-center">
    <h3>
      Official Transportation
    </h3>
 <br>

 </div>
    <div class="col-sm-offset-4 col-sm-offset-4 col-sm-4 col-md-4">
      <a href="http://ww1.aerolineas.com.ar/arg/main.asp?idSitio=AR&idPagina=161&idIdioma=es&congresoID=5960" target="_blank" class="thumbnail">
        <img src="{{ "/images/aerolineas.png" | prepend: site.baseurl }}" alt="aerolineas" width="200">
      </a>
    </div>
<br>
</section>
-->


{% include modals.html %}

{"person":"prueba-girolabs","items":[{"code":"paula-fiori-noir","size":"m"}],"display":{"id":3,"name":"Probador 2","role":"dressing_room","is_available":false,"channel_name":"specific.uVujxbfT!MAlAkSOrFtOG","store":1},"id":4255,"is_ready":false}


{
  "ministerio": 1,
  "comentario": "chau",
  "orden_set": [  
    {  
       "id":1,
       "descripcion":"Educación inicial (per-jardín y jardín) con Becas, Complemento Nutricional, Canasta Básica de Útiles y otros.",
       "orden":0
    },
    { 
      "id": 2, 
      "descripcion": "Educación inicial (per-jardín y jardín) con Becas, Complemento Nutricional, Canasta Básica de Útiles y otros.",
      "orden":1        
    }
    ]
}