---
ref: index
layout: default
lang: es
---

<header class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="{{ "/images/SotMLatam19.png" | relative_url }}" alt="State
          of the Map LATAM - Encarnacion 2019" class="img-responsive main-logo">
          <h1>¿Qué mundo revelan <span>tus mapas?</span></h1>
          <h4 class="margin: 0px">Encarnación - Paraguay</h4>
          <h2>14, 15 y 16 de Noviembre</h2>
          <div class="about-button">
            <span class="col-xs-12 col-sm-4 btn-item">
              <!--- link de registro -->
              <a
                class="btn btn-default"
                href="https://www.eventbrite.com/e/osm-latam-py-2019-tickets-70204859625"
                target="_blank"
                role="button"
                >Registrate</a
              >
            </span>
            <span class="col-xs-12 col-sm-4 btn-item">
              <!---scroll a about-->
              <a href="#about" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </span>
            <span class="col-xs-12 col-sm-4 btn-item">
              <!---link de envia tu presentación-->
              <a
                target="_blank"
                class="btn btn-default"
                href="https://www.papercall.io/osmlatam"
                role="button"
              >
                Envia tu Ponencia
              </a>
              <a
                target="_blank"
                class="btn btn-default"
                href="https://www.papercall.io/osmlatamtalleres"
                role="button"
              >
                Envia tu Taller
              </a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- seccion  historia-->

<section id="historia" class="container content-section">
  <div class="row text-center">
    <h2>Que mundo revelan tus mapas?</h2>
  </div>
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>
        Históricamente la cartografía siempre ha sido no solo una habilidad
        técnica, sino un mecanismo de retratar del mundo y de controlar el
        mundo. En función de esto a lo largo de la historia la cartografía y la
        producción de mapas siempre ha sido o estado asociada a quien detenta
        poder:los estados, los ejércitos y, en nuestro mundo contemporáneo, cada
        vez más, las compañías y corporaciones.
      </p>
      <p>
        La producción de mapas siempre estuvo vinculada al poder en función de
        la necesidad de visibilizar recursos naturales, posibles colonias, o
        rutas comerciales. Adicionalmente, los mapas son artefactos utilizados
        para describir territorios a consolidar o proteger en términos
        estratégicos/militares.
      </p>
      <p>
        En consecuencia de lo antes expuesto, a lo largo de la historia, la
        cartografía ha sido de modo predominante, un mecanismo de poder que
        permite a ciertos sectores sociales tener no solo una visión más precisa
        de la realidad, sino mayor control e influencia sobre la misma.
      </p>
      <p>
        En el mundo contemporáneo, estas asimetrías de poder y conocimiento no
        solo refieren a las dinámicas entre gobiernos y ciudadanos. Alrededor
        del mundo, los estados nacionales enfrentan diversos niveles de crisis
        en las más diversas áreas de gobernanza y legitimidad. En este contexto,
        las instituciones nacionales de cartografía ya no son, en muchos países,
        los principales actores cartográficos.
      </p>
      <p>
        En este contexto, y para muchos fines prácticos, hoy las mayores
        entidades mundiales de producción de cartografía son corporaciones que
        utilizan diversas tecnologías como el mapeo satelital, la inteligencia
        artificial, el uso de algoritmos predictivos o big data para producir lo
        que quizás son los productos cartográficos más completos y extensos
        jamás producidos en la historia de la humanidad.
      </p>
      <p>
        El problema radica en que estas enormes bases de datos geoespaciales -
        con la gigantesca asimetría en niveles de conocimiento y poder práctico
        implicadas - están bajo el dominio de corporaciones que actúan movidas
        por fines comerciales..
      </p>
      <p>
        En este sentido la existencia de plataformas alternativas como Open
        Street Map, que permiten el mapeo colaborativo del mundo constituyen una
        enorme herramienta académico - científica, y un espacio de oportunidad y
        empoderamiento para individuos y comunidades que desean comprender y
        describir mejor y más democráticamente su mundo.
      </p>
      <p>
        En efecto, Open Street Map no solo es una herramienta técnica que
        permite producir cartografía a casi cualquier persona del mundo con un
        umbral de conocimiento y de requerimientos tecnológicos extremadamente
        bajo. Es un mecanismo pragmático sumamente poderoso, por el cual
        comunidades, activistas, organizaciones sociales e instituciones
        académicas pueden producir cartografías o representaciones del mundo
        físico, que no están vinculadas centralmente a aspiraciones comerciales,
        de gestión de la propiedad privada, o de defensa militar.
      </p>
      <p>
        Desde la organización del evento estamos convencidos de que es
        fundamental reconsiderar a la cartografía y a su papel como una
        herramienta multifinalitaria de uso civil que permita discutir de manera
        democrática como diseñar los territorios en los que vivimos, de una
        manera más sostenible, incluyente, democrática y participativa.
      </p>
      <p>
        En este sentido el lema de la convocatoria del año 2019 es: ¿Qué mundo
        revelan tus mapas? Por medio de este lema queremos preguntar a la
        comunidad de usuarios de Open Street Map en Latinoamérica sobre los usos
        que dan a la plataforma.
      </p>
      <p>
        ¿De qué manera están usando Open Street Map en sus actividades y
        proyectos cotidianos? y ¿qué aspectos de la realidad pueden revelar
        gracias al uso de esta herramienta? Nos interesa saber ¿de qué forma
        activistas que están trabajando por la inclusión social o el
        empoderamiento de comunidades utilizan Open Street Map? ¿Cómo Open
        Street Map está siendo empleada para retratar y discutir situaciones de
        deterioro y riesgo ambiental o detectar oportunidades
        urbano/territoriales para ciudades en Latinoamérica, el sur global y
        otras regiones del mundo?
      </p>
      <p>
        Nos interesa discutir ¿cómo Open Street Map está incorporando el enfoque
        de género, de modo a discutir de un modo amplio el rol de la mujer en el
        espacio y su papel como actriz central de la construcción de los
        territorios?. ¿De qué manera Open Street Map es utilizado en conjunto
        con interfaces de programación o de código abierto, de modo a vincular
        bases de datos y producir nueva información y servicios que sean
        relevantes al mundo contemporáneo.?
      </p>
      <p>
        Creemos que a partir de esta premisa de preguntarnos ¿qué mundo revelan
        los mapas que producimos? podemos tener un debate altamente productivo
        que sintetice y refleje el rico trabajo que está siendo hecho en toda
        Latinoamérica usando Open Street Map produciendo no solo más
        conocimiento cartográfico, sino comunidades e individuos empoderados y
        críticos que se desempeñan como actores vitales en la construcción de
        sus territorios.
      </p>
    </div>
  </div>
</section>

<!-- seccion de descripcion -->
<section id="about" class="container content-section">
  <div class="row content-section">
    <h2 class="row text-center">Descripción del evento</h2>
  </div>
  <div class="col-md-8 col-md-offset-2">
    <p>
      Esta conferencia pretende reunir a los miembros de la comunidad
      OpenStreetMap de toda Latinoamérica. Esperamos tener una mezcla de
      talleres prácticos, presentaciones de proyectos y exposiciones de casos de
      uso de datos de OSM. Adicionalmente, tendremos conferencias desarrolladas
      por destacados exponentes regionales, que han contribuido
      significativamente a la cultura de datos geoespaciales abiertos y la
      cartografía participativa.
    </p>
    <p>
      SotM Latam es un evento que promueve la interacción entre los usuarios de
      distintas comunidades y organizaciones.
    </p>
    <p>
      El evento tendrá lugar los días 14, 15 y 16 de noviembre en la Universidad
      Autónoma de Encarnación, Ciudad de Encarnación, Paraguay.
    </p>
    <p>Esperamos contar con tu presencia, y tus contribuciones!</p>
  </div>
</section>

<!---seccion de acerca-->
<!-- <section id="about" class="container content-section">
  <div class="row text-center">
    <h2>
      Sobre el evento
    </h2>
  </div> -->

<!-- <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>
        El evento durará tres días consecutivos en noviembre de 2019, el mismo estará compuesto
        de charlas y taller, distribuidos a lo largo de la agenda.
      </p>
      <p>
        La intención, desde la organización del evento es la transferencia de las experiencias
        realizadas con el mapa y la generación de una oportunidad, desde su negocio, para llegar a
        las diferentes comunidades, a través de talleres o charlas que cuenten el trabajo realizado
        para la integración con la comunidad y la colaboración mutua.
      </p>
      <p>
        Se espera la recepción de alrededor de 200 asistentes de diferentes puntos de América
        Latina, participantes de la comunidad.
      </p> -->
<!--
      <a data-toggle="modal" data-target="#code-of-conduct-{{page.lang}}" href="">código de conducta</a>.
      --->
<!-- </div>
  </div>
</section> -->

<!---seccion de historia-->
<section id="history" class="container content-section">
  <div class="row text-center">
    <h2>
      Historia
    </h2>
  </div>

  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <p>
        El State of the Map Latam es la conferencia anual para todos los
        creadores de mapas y usuarios de OpenStreetMap en América Latina.
        <b>Esta será la quinta edición</b> del evento.
        <a
          target="_blank"
          href="https://wiki.openstreetmap.org/wiki/State_Of_The_Map_Latam_2015"
          >La primera edición</a
        >
        se realizó en Santiago de Chile del 4 al 6 de septiembre de 2015 y contó
        con aproximadamente 200 asistentes, con un público que variaba desde
        usuarios individuales de OSM hasta empresas, y activistas de comunidades
        locales.
      </p>
      <p>
        <a
          target="_blank"
          href="https://wiki.openstreetmap.org/wiki/State_Of_The_Map_Latam_2016"
          >La segunda edición</a
        >
        se realizó en San Pablo, Brasil, y contó con una amplia cantidad de
        participantes de toda la región e invitados internacionales,
        representación de instituciones estatales, organizaciones sociales,
        entre otros.
      </p>
      <p>
        <a
          target="_blank"
          href="http://wiki.openstreetmap.org/wiki/State_Of_The_Map_Latam_2017"
          >La tercera edición</a
        >
        se realizó en Lima, Perú, del 29 de noviembre al 2 de diciembre del
        2017. Se desarrollaron talleres de mapeo, mesas redondas y charlas sobre
        la comunidad.
      </p>
      <p>
        <a
          target="_blank"
          href="http://wiki.openstreetmap.org/wiki/State_Of_The_Map_Latam_2017"
          >La cuarta edición</a
        >
        de la Conferencia se realizó en Buenos Aires, Argentina, el 24 y 25 de
        setiembre de 2018 y se tuvo como fin promover el uso de OpenStreetMap
        (OSM), y la integración de mapeadores de OSM, desarrolladores,
        comunidades de datos abiertos, comunidades de software libre y open
        source, estudiantes, investigadores, profesionales de la geoinformación,
        organizaciones no gubernamentales, empresas e instituciones públicas.
      </p>
      <!--
      <a data-toggle="modal" data-target="#code-of-conduct-{{page.lang}}" href="">código de conducta</a>.
      --->
    </div>
  </div>
</section>

<!--Seccion Codigo de conducta del evento-->
<section id="conducta" class="container content-section">
  <div class="row text-center">
    <h2>
      Código de conducta del evento
    </h2>
  </div>
  <div class="col-md-8 col-md-offset-2 text-left">
    <p>
      Nuestro evento está comprometido a brindar una experiencia segura y libre
      de acoso para todos los participantes, sin tener en cuenta su género,
      identidad y expresión de género, orientación sexual, discapacidades,
      apariencia física, raza, etnicidad, religión (o falta de una), u opciones
      tecnológicas. No toleramos el acoso a los participantes del evento, en
      ninguna forma. El lenguaje o imágenes sexuales no son apropiados en
      ninguna parte del evento, incluyendo charlas, talleres o encuentros
      sociales relacionados, twitter y otras redes sociales. Los participantes
      del evento que rompan estas reglas pueden ser sancionados con la expulsión
      de la conferencia, siguiendo el criterio discrecional de los organizadores
      del evento.
    </p>
  </div>
</section>

<!-- Seccion Inclusion Social-->
<section id="inclusion" class="container content-section">
  <div class="row text-center">
    <h2>
      Inclusión social
    </h2>
  </div>
  <div class="col-md-8 col-md-offset-2 text-left">
    <p>
      ¿De qué manera se utliliza Open Street Map como un mecanismo participativo
      que fomente la inclusión social?. Nos interesan ponencias o talleres en
      los cuales se ejemplifique el uso de OSM como herramienta de inclusión
      social, a través de iniciativas que incluyan cuestiones tales como la
      visibilización de comunidades, la delimitación de barrios de interés
      social orientados a la legalización de la tenencia de suelo, la definición
      de territorios indígenas o la demarcación espacial de territorios donde
      actúan o viven colectivos urbanos, tales como comunidades carentes,
      recicladores urbanos, etc. En suma, como puede OSM ayudar a comunidades a
      superar situaciones de exclusión.
    </p>
  </div>
</section>

<!-- seccion  Empoderamiento -->
<section id="empoderamiento" class="container content-section">
  <div class="row text-center">
    <h2>Empoderamiento de comunidades y colectivos:</h2>
  </div>
  <div class="col-md-8 col-md-offset-2 text-left">
    <p>
      El conocer mejor el mundo en el que uno vive y actúa, permite a los
      individuos y a las comunidades en general - no solo aquellas que sufren
      situaciones de exclusión o injusticia social - trabajar activamente en pos
      de mejoras en su territorio. Esta línea de trabajo e investigación es
      adecuada para iniciativas en las cuales OSM sea usada empoderar a
      colectivos y comunidades. Buscamos propuestas de ponencias y talleres, que
      ilustren procesos tales como el uso de OSM para impulsar actividades
      económicas, el uso democrático y sustentable de espacios públicos, o la
      formación de redes de trabajo y colaboración entre actores de diversos
      sectores.
    </p>
  </div>
</section>

<!-- seccion  Deterioro -->
<section id="deterioro" class="container content-section">
  <div class="row text-center">
    <h2>Deterioro y riesgo ambiental:</h2>
  </div>
  <div class="col-md-8 col-md-offset-2 text-left">
    <p>
      El objeto de esta línea de trabajo e investigación en el contexto del SotM
      Latam 2019 es explorar de qué manera activistas, comunidades, la academia
      y entidades públicas utilizan Open Street Map como una herramienta para
      registrar, mapear y visibilizar situaciones de deterioro y riesgo
      ambiental. Nos interesan investigaciones y trabajos que visibilicen focos
      de contaminación o espacios en los cuales existen riesgos de inundaciones,
      o deslizamientos u otras condiciones de vulnerabilidad ambiental o social.
    </p>
    <p>
      Open Street Map brinda una herramienta muy poderosa para registrar
      sistemáticamente situaciones de deterioro y riesgo,comunicarlas a la
      sociedad en su conjunto y construir acuerdos y proyectos que permitan
      mitigar o eliminar las situaciones de desafío detectadas.
    </p>
  </div>
</section>

<!-- seccion  oportunidades -->
<section id="oportunidades" class="container content-section">
  <div class="row text-center">
    <h2>Oportunidades urbanas/territoriales:</h2>
  </div>
  <div class="col-md-8 col-md-offset-2 text-left">
    <p>
      Cada ciudad y territorio contiene en sí, oportunidades, y la cartografía
      es un mecanismo de desvelar esas oportunidades. En esta línea de
      investigación y trabajo nos interesa profundizar en experiencias que
      utilicen OSM como una plataforma para visualizar el potencial de
      oportunidades de un territorio. Hay edificios vacíos en tu barrio, que
      tienen potencial de convertirse en vivienda protegida? Hay terrenos
      baldíos que puedan convertirse en parques o huertas urbanas? Hay grandes
      vacíos urbanos en una ciudad, que puedan convertirse en un sistema de
      parques? Hay cuencas hidrográficas que puedan reconvertirse en espacios de
      recreación? OSM te ha ayudado a detectar y retratar estas situaciones? En
      caso que sí, esta es la línea de trabajo e investigación para tu ponencia
      o taller!
    </p>
  </div>
</section>

<!-- seccion  Enfoque de Genero -->
<section id="genero" class="container content-section">
  <div class="row text-center">
    <h2>Enfoque de Género:</h2>
  </div>
  <div class="col-md-8 col-md-offset-2 text-left">
    <p>
      Los intereses enfocados a género se ven subrepresentados en los mapas
      colaborativos.Es habitual que se produzcan sesgos inconscientes dentro de
      una comunidad conformada casi en su mayoría por hombres. "Los mapas no
      emergen de la misma forma para todas las personas". De esta condición
      deriva la importancia que la comunidad y las personas que producen los
      mapas sean diversas, habiliten las diferencias y se generen espacios
      seguros para las minorías. El track de género en la conferencia abarcará
      las experiencias, proyectos, iniciativas y propuestas de mujeres y géneros
      disidentes dentro de la comunidad de OpenStreetMap.
    </p>
  </div>
</section>

<!-- seccion  Programacion-->
<section id="programacion" class="container content-section">
  <div class="row text-center">
    <h2>Programación:</h2>
  </div>
  <div class="col-md-8 col-md-offset-2 text-left">
    <p>
      OpenStreetMap no es solo open data, sino también open source.El objeto de
      esta línea de trabajo es profundizar de qué maneras podemos contribuir al
      desarrollo de la plataforma y alcanzar los objetivos propuestos en el Top
      Ten Task. También nos interesa explorar casos de aplicación del software y
      los servicios para el desarrollo de otras plataformas. En este contexto
      son de interés talleres y ponencias que ilustran casos donde se integre
      los servicios de la plataforma para brindar soluciones tecnológicas,
      además de contribuciones al desarrollo del núcleo de OpenStreetMap.
    </p>
  </div>
</section>
<!---Sección Open street map en latinoamérica-->
<section id="osmlatam" class="container content-section">
  <div class="row text-center">
    <h2>
      OpenStreetMap en América Latina
    </h2>
  </div>
  <div class="col-md-8 col-md-offset-2 text-left">
    <p>
      OpenStreetMap tiene una creciente y activa comunidad en la región. Nos
      preguntan rutinariamente cómo usar OpenStreetMap en diferentes casos de
      uso, desde los más amplios hasta los más específicos desde todos los
      lugares de América Latina.
    </p>
    <p>
      Las comunidades latinoamericanas se encuentran entre los grupos más
      activos en OpenStreetMap. Una gran diversidad de proyectos están
      sucediendo en la mayoría de los países de la región, algunos de ellos son:
    </p>

    <ul>
      <li>
        <p>
          <a target="_blank" href="http://openstreetmap.mx/?reqp=1&reqr="
            >OpenStreetMap México </a
          >organiza eventos bimestrales y trabajó en la importación de datos
          públicos del INEGI, el Instituto Nacional de Estadística y Geografía,
          también cuenta con una articulación amplia con el sector académico;
        </p>
      </li>
    </ul>

    <ul>
      <li>
        <p>
          En Costa Rica, la fundación
          <a target="_blank" href="https://www.fundecor.org/">FUNDECOR </a>está
          mapeando y usando datos de OpenStreetMap para planificar acciones en
          áreas que tienen riesgo de inundación;
        </p>
      </li>
    </ul>

    <ul>
      <li>
        <p>
          En Nicaragua, el proyecto
          <a target="_blank" href="https://www.mapanica.net/">Mapanica </a>mapeó
          las rutas de autobuses en OSM e hizo el primer mapa de transporte del
          país y la primera solución de transporte integral de todo
          Centroamérica;
        </p>
      </li>
    </ul>

    <ul>
      <li>
        <p>
          En
          <a target="_blank" href="https://blog.openstreetmap.co/s657"
            >Colombia</a
          >, la comunidad está organizando grandes eventos y diversas acciones
          de mapeo humanitario conjunto organizaciones sociales;
        </p>
      </li>
    </ul>

    <ul>
      <li>
        <p>
          Después del terremoto ocurrido en Ecuador el 16 de abril, la comunidad
          local organizó un mapatón (actividad de mapeo) para mejorar el mapa de
          las regiones afectadas por el terremoto;
        </p>
      </li>
    </ul>

    <ul>
      <li>
        <p>
          Durante la primera
          <a
            target="_blank"
            href="https://www.openstreetmap.org/user/wille/diary/38623"
            >Conferencia de Software Libre de Cuba</a
          >
          (CubaConf), los mapeadores de Cuba y de otros países latinoamericanos
          organizaron algunas acciones como un mapatón, charlas y talleres de
          mapeo para hacer crecer la comunidad OSM en Cuba;
        </p>
      </li>
    </ul>

    <ul>
      <li>
        <p>
          <a target="_blank" href="https://mapazonia.org/">Mapazonia</a>, un
          proyecto para mejorar el mapa de la región de la selva amazónica;
        </p>
      </li>
    </ul>

    <ul>
      <li>
        <p>
          En Sao Paulo y Rio de Janeiro se están realizando importaciones de
          datos de edificios.
        </p>
      </li>
    </ul>

    <ul>
      <li>
        <p>
          En
          <a target="_blank" href="http://osmargentina.org/#3/-44.8/-63"
            >Argentina</a
          >
          hay múltiples proyectos en desarrollo como la reclasificación de
          pueblos, ciudades y rutas. Se está intentando de conseguir el 100% de
          las poblaciones con las alturas de las calles y la cara del transporte
          público en las grandes ciudades. Así mismo estamos en contacto
          permanente con integrantes del
          <a target="_blank" href="http://www.ign.gob.ar/">IGN</a>,
          <a target="_blank" href="https://www.idera.gob.ar/">IDERA</a> ,
          <a target="_blank" href="https://www.argentina.gob.ar/ciencia/conae"
            >CONAE</a
          >,
          <a
            target="_blank"
            href="https://www.facebook.com/GeoinquietosArgentina/"
            >Geoinquietos Argentina</a
          >
          , <a target="_blank" href="https://www.osgeo.org/">OSGeo</a> Asimismo
          hay un fuerte trabajo con colaboradores de Mapillary y OpenStreetCam.
          En 2014 se organizó una conferencia global sobre el estado del mapa
          (la primera conferencia SotM en el hemisferio sur) y desde esa fecha
          tres ediciones de
          <a target="_blank" href="http://foss4g-ar.org/">FOSS4G</a> Argentina;
        </p>
      </li>
    </ul>

    <ul>
      <li>
        <p>
          <a
            target="_blank"
            href="https://geochicasosm.github.io/lascallesdelasmujeres/"
            >Las calles de las mujeres</a
          >
          es un proyecto generado a partir de las calles con nombre de mujeres,
          en diferentes ciudades de habla hispana (Latinoamérica y España). El
          objetivo es visibilizar la brecha que existe históricamente en la
          representación de figuras femeninas en las calles de las ciudades.
        </p>
      </li>
    </ul>
  </div>
</section>

<!---Secciòn tematicas-->
<section id="tematicas" class="container content-section">
  <div class="row text-center">
    <h2>
      Lineas de Investigación y Activismo – LATAM - 2019
    </h2>
  </div>
  <div class="col-md-8 col-md-offset-2 text-left">
    <ul>
      <li>
        <p>Exclusión social</p>
      </li>
      <li>
        <p>Empoderamiento de comunidades</p>
      </li>
      <li>
        <p>Deterioro y riesgo ambiental</p>
      </li>
      <li>
        <p>Oportunidades urbanas/territoriales</p>
      </li>
      <li>
        <p>Enfoque Género</p>
      </li>
      <li>
        <p>Programación</p>
      </li>
    </ul>
  </div>
</section>

<!---Secciòn Audiencia esperada-->
<section id="audiencia" class="container content-section">
  <div class="row text-center">
    <h2>
      Audiencia esperada
    </h2>
  </div>
  <div class="col-md-8 col-md-offset-2 text-left">
    <ul>
      <li>
        <p>Mapeadores y usuarios de OpenStreetMap</p>
      </li>
      <li>
        <p>Profesionales de SIG (Sistemas de Información Geográfica)</p>
      </li>
      <li>
        <p>Profesionales de negocios interesados ​​en el uso de datos OSM</p>
      </li>
      <li>
        <p>Comunidades abiertas de datos</p>
      </li>
      <li>
        <p>Estudiantes de informática, urbanismo y geografía</p>
      </li>
      <li>
        <p>Instituciones estatales</p>
      </li>
      <li>
        <p>Academia</p>
      </li>
    </ul>
  </div>
</section>

<!--Sección Speakers-->
<section id="program" class="container content-section">
  <div class="row text-center">
    <h2>
      Conferencistas
    </h2>
  </div>
  <div class="col-sm-6 col-md-6">
    <div
      class="thumbnail card-speaker"
      style="color:black; padding: 35px 15px;"
    >
      <h4 style="text-align: center">Fernando Castro T. (Medellín)</h4>
      <img src="{{ "/images/speaker1.jpg" | prepend: site.baseurl }}"
      alt="kaart" width="200" style="margin-bottom: 40px; border-radius: 50%;">
      <!--quitar text center cuando tenga la descripcion real-->
      <p style="text-align:center;">
        Terminó el pregrado de filosofía de la Universidad de Antioquia.
        Colabora activamente en el proyecto de Red Comunitaria libre
        NuestraRed.org que opera en los límites entre los departamentos del
        Valle del Cauca, Risaralda y Quindío. Miembro fundador de la Fundación
        OpenStreetMap Colombia. Aporto mi experiencia como DevOps para
        diferentes proyectos comunitarios y en especial a defender la libertad
        de la red.
      </p>
    </div>
  </div>
  <div class="col-sm-6 col-md-6">
    <div
      class="thumbnail card-speaker"
      style="color:black; padding: 35px 15px;"
    >
      <h4 style="text-align: center">Jéssica Sena Garcia</h4>
      <img src="{{ "/images/speaker2.jpg" | prepend: site.baseurl }}"
      alt="kaart" width="200" style="margin-bottom: 40px; border-radius: 50%;">
      <!--quitar text center cuando tenga la descripcion real-->
      <p style="text-align:center;">
        Ingeniera informática por la UPC. Durante los últimos 6 años y medio,
        trabajé activamente en el ámbito geo, como desarrolladora web y móvil en
        el Institut Cartogràfic i Geologic de Catalunya, donde formaba parte del
        grupo de innovación Geostart. Formó parte de la comunidad de GeoInquiets
        (Barcelona), y también es miembro de GeoChicas, donde esta a cargo de la
        coordinación técnica del proyecto #LasCallesDeLasMujeres.
      </p>
    </div>
  </div>
</section>

<!---Secciòn Agenda-->
<section id="program" class="container content-section">
  <div class="row text-center">
    <h2>
      Agenda General
    </h2>
  </div>
  <div class="col-md-12">
      <div class="table-responsive">
    <table class="table">
      <thead style = "background-color: gray; color:white;">
        <tr>
          <th>Día</th>
          <th>Hora</th>
          <th>Aula 1</th>
          <th>Aula 2</th>
          <th>Aula 3</th>
          <th>Offsite</th>
        </tr>
      </thead>
      <tbody>
        <tr style="background-color: #D6FFEF ;">
          <td>Jueves 14</td>
          <td>08:00 - 09:00</td>
          <td colspan="4" style="text-align: center;">Acreditaciones</td>
        </tr>
        <tr>
          <td></td>
          <td>09:00 - 09:30</td>
          <td>
            Palabras de Bienvenida. Introducción OSM LATAM. Mara da Silva (CIDi)
            José González (OSM PY) Roberto Cañete (UNAE)
          </td>
        </tr>
        <tr>
          <td></td>
          <td>09:30 - 10:00</td>
          <td>Ponencia 1. El Poder del Mapa. Carlos Brys</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>10:00-10-30</td>
          <td></td>
          <td>
            Ponencia 2. CARTOCOSTA Urabá: Del mapeo humanitario a la resiliencia
            y conservación. María Fernanda Peña Valencia.
          </td>
        </tr>
        <tr>
          <td></td>
          <td>10:30 - 11:00</td>
          <td>
            Ponencia 3. La parcela, el municipio y el estado. Atahualpa Ayala
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>11:00 - 11:30</td>
          <td></td>
          <td>
            Ponencia 4.Datos y servicios de OSM en el Gobierno de la Ciudad de
            Buenos Aires. Horacio Castellaro.
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>11:30 - 12:00</td>
          <td>
            Ponencia 5. Utilización de Mapas de Tránsito para mejorar la
            Movilidad Urbana.Caso de Estudio: ASUBTE. Pablo Callizo.
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>12:00 - 12:30</td>
          <td></td>
          <td>
            Ponencia 6. Relevamiento de Áreas Informales. Guillermo Brítez.
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr style="background-color: #FFE2BE;">
          <td></td>
          <td>12:30 - 14:00</td>
          <td colspan="4" style="text-align: center;">Almuerzo</td>
        </tr>

        <tr>
          <td></td>
          <td>14:00 - 16:30</td>
          <td>
            Taller 1. Taller introductorio a JOSM. Diego Bernal y Tomás López.
          </td>
          <td>
            Taller 2. Generando banco de tierras mediante el uso de sistemas de
            información geográfica. Fernando Duarte Callizo.
          </td>
          <td>Taller 3. KoBo Toolbox. María Fernanda Peña Valencia.</td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td></td>
          <td>16:30 - 19:00</td>
          <td>
            Taller 4. Explotación de datos de OSM con QGIS. Horacio Castellaro
          </td>
          <td>
            Taller 5. Creación y gestión de disposiciones de botones
            personalizadas para OSMTracker. Brandon Oviedo Sánchez
          </td>
          <td>
            Taller 5. Creación y gestión de disposiciones de botones
            personalizadas para OSMTracker. Brandon Oviedo Sánchez
          </td>
          <td>
            Taller 6. Mapeo Colaborativo con OSM. Uso de los editores iD y JOSM.
            Carlos Brys.
          </td>
        </tr>

        <tr>
          <td></td>
          <td>19:00 - 20:00</td>
          <td>KEYNOTE Jessica Sena.</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr style="background-color: #FFE2BE;">
          <td></td>
          <td>20:00</td>
          <td colspan="4" style="text-align: center;">Geobirras</td>
        </tr>
        <tr>
          <td>Viernes 15</td>
          <td>9:00 - 9:30</td>
          <td>
            Ponencia 7. Panel sobre #GeoChicas Rol y participación de las
            mujeres en comunidades tecnológicas. Selene Yang y Jessica Sena.
          </td>
          <td>Ponencia 8. Cobañados. Jonny Alvarenga.</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>9:30 - 10:00</td>
          <td></td>
          <td>
            Ponencia 9. Cálculo de un Índice de Calidad de Vida en la Cuenca del
            Río Reconquista, Buenos Aires, Argentina. Carolina Byl y Lucila
            Sandri.
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>10:00 - 10:30</td>
          <td>
            Ponencia 10. Las Calles de las Mujeres: Una mirada técnica. Jessica
            Sena.
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>10:30 - 11:00</td>
          <td></td>
          <td>Ponencia 11. Map With AI. David Dongzhe Yang, PhD.</td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>11:00 - 11:30</td>
          <td>
            Ponencia 12. ¿Por qué los espacios públicos tienen un uso
            diferenciado? Enfoque feminista en las calles. Ximena Teresa
            Yanaguaya Mendoza. Online.
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr></tr>
        <tr>
          <td></td>
          <td>11:30 - 12:00</td>
          <td></td>
          <td>
            Ponencia 13. #NoTopoMias : nuevos territorios a partir de la
            linguodiversidad. Camilo Fique.
          </td>
          <td></td>
          <td></td>
        </tr>
        <tr></tr>
        <tr>
          <td></td>
          <td>12:00 - 12:30</td>
          <td>
            Ponencia 14. [Documental] Nomad Maps: el Tour andino cartográfico.
            Alban Vivert, presenta en su lugar Fernando Castro.
          </td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        
        <tr  style="background-color: #FFE2BE;">
            
                <td></td>
                <td >12:30 - 14:00</td>
                <td colspan="4" style="text-align: center;">Almuerzo</td>
              
           
        <tr>
            <td></td>
            <td>14:00 - 16:30</td>
            <td>Taller 7. Cartografía social para
                activistas. Fernando Castro</td>
            <td>Taller 8. OSM + PostgreSQL +
                Docker para la importación y
                procesamiento de datos. Gonzalo
                Gabriel Pérez</td>
            <td>Taller 9. Conociendo la realidad
                urbana. Aproximación mediante los
                puntos de interés de OSM. Sabik
                García Ávalos.</td>
            <td></td>
            
          </tr>
          <tr>
              <td></td>
              <td>16:30 - 19:00</td>
              <td>Taller 10. #LasCallesDeEncarnación.
                  Jessica Sena y Selene Yang.</td>
              <td>Taller 11. RapiD - Editor. David
                  Dongzhe Yang, PhD
                  </td>
              <td>Taller 12. Creando tu primer mapa
                  usando Leaflet. José González von
                  Schmeling.
                  </td>
              <td></td>
            </tr>
            <tr>
                <td></td>
                <td>19:00 - 20:00 </td>
                <td>KEYNOTE Fernando Castro</td>
                <td></td>
                <td></td>
                <td></td>
              </tr>

              <tr style="background-color: #FFE2BE;">
                  
                      <td></td>
                      <td >20:00</td>
                      <td colspan="4" style="text-align: center;">Geobirras</td>
                    
                  <tr>

            <tr>
                <td>Sabado 16</td>
                <td>8:00  </td>
                <td></td>
                <td></td>
                <td></td>
                <td rowspan="5" style="vertical-align : middle;text-align:center;" > Taller 13. Taller
                    participativo en
                    Unidos TECHO. Marcia González. </td>
                </tr>
          <tr>
          <td></td>
          <td>9:00 - 9:30</td>
          <td>Ponencia 15. TOPA App.</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>9:30 - 10:00</td>
          <td></td>
          <td>
              Ponencia 16. GeoLibres:
              formalizando la comunidad en
              Argentina. Gonzalo Gabriel Pérez.
              
          </td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>10:00 - 10:30</td>
          <td> Ponencia 17. Proyecto Map Py
              OSM. Katrina Lisnichuk, Mara da
              Silva.
              </td>
              <td></td>
              <td></td>
        </tr>

        <tr>
            <td></td>
            <td>10:30 - 11:00</td>
            <td> Ponencia 18. La plataforma Tupale.
                co - Caso práctico en Paraguay:
                mapeo de espacios escénicos de
                Latinoamérica. Miguel Buendía y
                Fernando Castro
                </td>
                <td></td>
                <td></td>
          </tr>
          <tr>
              <td></td>
              <td>11:00 - 11:30</td>
              <td> Conversatorio 1: Etiquetas OSM
                  Paraguay.
                  
                  </td>
                  <td></td>
                  <td></td>
            </tr>
            <tr>
                <td></td>
                <td>11:30 - 12:00</td>
                <td>
                    </td>
                    <td>Conversatorio 2: Siguiente edición
                        de SOTM LATAM.</td>
                    <td></td>
                    <td></td>
              </tr>

              <tr style="background-color: #D6FFEF ;">
                  <td></td>
                  <td>12:00 - 12:30</td>
                  <td  colspan="4" style="text-align: center;"> Cierre SOTM LATAM 2019
                      </td>
                      <td></td>
                      <td></td>
                </tr>
      </tbody>
    </table>
  </div>
  </div>
</section>
<section class="container content-section text-center">
  <div class="row">
    <div class="col-md-4">
      <h2>Como llegar</h2>
      <p>En construccion</p>
      <button class="btn btn-default">Proximamente</button>
    </div>
    <div class="col-md-4">
      <h2>Alojamiento</h2>
      <span class="col-xs-12 col-sm-4 btn-item">
        <a
          target="_blank"
          href="https://tinyurl.com/y3hjrapw"
          class="btn btn-default"
          >Booking</a
        >
      </span>
      <span class="col-xs-12 col-sm-4 btn-item">
        <a
          target="_blank"
          href="https://tinyurl.com/y6dq6quq"
          class="btn btn-default"
          >Trivago</a
        >
      </span>
      <span class="col-xs-12 col-sm-4 btn-item">
        <a
          target="_blank"
          href="https://www.google.com.ar/search?rlla=0&hotel_dates=2018-03-01%2C2018-03-02&hotel_occupancy=2&tbm=lcl&ei=39tuXbqDMrnX5OUPgJmBqAw&q=alojamiento+en+encarnaci%C3%B3n+paraguay&oq=alojamiento+en+encarnacion+paraguay&gs_l=psy-ab.1.0.0j0i22i30k1l3.3470.10052.0.11699.20.20.0.0.0.0.240.2492.0j16j1.17.0....0...1c.1.64.psy-ab..3.17.2487...0i22i10i30k1.0.hZTWfeZlJcM#rlfi=hd:2019-09-10,2019-09-11;si:;mv:!1m2!1d-27.2966129!2d-55.859310799999996!2m2!1d-27.3433191!2d-55.890375199999994;tbs:lf_hd:-1,lf_ho:2,lrf:!1m4!1u13!2m2!13m1!1b1!1m4!1u10!2m2!11m1!1e10!1m4!1u10!2m2!11m1!1e2!1m4!1u10!2m2!11m1!1e3!2m21!1e7!4m4!7m3!1m1!1u300000!3sPYG!4m4!7m3!1m1!1u400000!3sPYG!4m4!7m3!1m1!1u500000!3sPYG!4m4!7m3!1m1!1u600000!3sPYG!2m1!1e2!2m1!1e13!2m10!1e10!4m2!11m1!1e10!4m2!11m1!1e2!4m2!11m1!1e3!2m7!1e17!4m2!17m1!1e3!4m2!17m1!1e8!3sIAE,lf:1,lf_ui:6"
          class="btn btn-default"
          >Google</a
        >
      </span>
    </div>
    <div class="col-md-4">
      <h2>Turismo y Cultura</h2>
      <p>En construccion</p>
      <button class="btn btn-default">Proximamente</button>
    </div>
  </div>
</section>

<section class="container content-section text-center">
  <h2>Videos</h2>
  <div class="container">
    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <div
          id="random_number1"
          class="carousel slide youtube-carousel"
          data-ride="carousel"
          data-interval="false"
        >
          <div class="carousel-inner">
            <div class="video-container item active">
              <div class="youtube-video" id="MU94slqnquw"></div>
            </div>
            <div class="video-container item">
              <div class="youtube-video" id="20eFJO83Y80"></div>
            </div>
            <div class="video-container item ">
              <div class="youtube-video" id="XdFkUjZf5-4"></div>
            </div>
          </div>
          <div class="controls">
            <a
              class="left carousel-control"
              href="#random_number1"
              data-slide="prev"
            >
              <div class="left-button">
                <div class="glyphicon glyphicon-chevron-left"></div>
              </div>
            </a>
            <a
              class="right carousel-control"
              href="#random_number1"
              data-slide="next"
            >
              <div class="right-button">
                <div class="glyphicon glyphicon-chevron-right"></div>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="col-md-6">
      <iframe class="video-size"  src="https://www.youtube.com/embed/MU94slqnquw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="col-md-6">
      <iframe class="video-size" src="https://www.youtube.com/embed/20eFJO83Y80" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row ">
    <div class="col ">
      <iframe class="video-size-full" src="https://www.youtube.com/embed/XdFkUjZf5-4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>-->
</section>

<section id="venue" class="container content-section text-center">
  <div class="row text-center">
    <h2>
      Lugar
    </h2>
  </div>

  <div class="container-fluid row">{% include map.html %}</div>

  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-sm-12">
        <div class="thumbnail">
          <div class="caption text-center">
            <h3>Universidad Autónoma de Encarnación</h3>
            <p class="venue">
              El evento se realizará en el auditorio urbano de la Universidad
              Autónoma de Encarnación, en la ciudad de Encarnación, Paraguay
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!---
<section id="join-us" class="container content-section text-center">
  <div class="row text-center">
    <h2>
      Como participar
    </h2>
  </div>

  <div class="row">

    <div class="col-sm-4 col-md-3 col-md-offset-1">
      <a href="https://www.papercall.io/sotm-latam-2018">
        <div class="thumbnail">
          <span class="glyphicon glyphicon-check"></span>
          <div class="caption text-center">
            <h3>Registrese</h3>
            <p>Envíe su propuesta de charla</p>
          </div>
        </div>
      </a>
    </div>

    <div class="col-sm-4 col-md-4">
      <div class="thumbnail">
        <span class="glyphicon glyphicon-comment"></span>
        <div class="caption text-center">
          <h3>Comparta</h3>
          <p>Invite a sus amigos y ayude a divulgar nuestro evento</p>
          <div class="row">
            <div class="col-md-6 text-right twitter-col">
              <a class="twitter-share-button"
              href="https://twitter.com/intent/tweet?text=Participa%20del%20State%20of%20the%20Map%20Latam%202018!%20La%20Conferencia%20Latinoamericana%20de%20OpenStreetMap,%2024%20Sep%20-%2025%20Sep%20en%20Buenos%20Aires"
              data-size="large">
                Tweet
              </a>
            </div>
            <div class="col-md-6 text-left fb-col">
              <div class="fb-like" data-href="http://state.osmlatam.org"
              data-layout="button" data-action="like" data-show-faces="true" data-share="true"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-md-3">
      <a href="mailto:info@osmlatam.org?subject=Sponsorship">
        <div class="thumbnail">
          <span class="glyphicon glyphicon-briefcase"></span>
          <div class="caption text-center row">
            <h3>Patrocine</h3>
            <p>Promocione su negocio y ayude a la comunidad Latam. Escríbenos a info@osmlatam.org</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</section>
-->
<section id="sponsors" class="container content-section text-center">
    <div class="row text-center">
        <h2>
          Patrocinan
        </h2>
      </div>
      <div class="row" style="height: 100%;">
        <div class="col-sm-12 col-md-4 margen">
          <a href="http://kaartgroup.com/" target="_blank">
            <img src="{{ "/images/cnc.png" | prepend: site.baseurl }}"
            alt="kaart" width="300">
          </a>
        </div>
        <div class="col-sm-12 col-md-4 margen">
          <a href="" target="_blank">
            <img src="{{ "/images/topa.png" | prepend: site.baseurl }}"
            alt="kaart" width="250">
          </a>
        </div>
          <div class="col-sm-12 col-md-4 margen" style="display:flex;align-items: center;margin: auto;">
            <a href="" target="_blank">
              <img src="{{ "/images/teisa.png" | prepend: site.baseurl }}"
              alt="kaart" width="165">
            </a>
          </div>
          
          
        </div>

        <div class="row text-center" style="margin-top: 70px">
          <h2>
            Con el Auspicio de
          </h2>
        </div>
        <div class="row" >
            <div class="col-sm-12 col-md-4 margen" style="display:flex;align-items: center;">
                <a href="#" target="_blank">
                  <img src="{{ "/images/cooperacion.png" | prepend: site.baseurl }}"
                  alt="kaart" width="300">
                </a>
              </div>

              <div class="col-sm-12 col-md-4 margen">
                  <a href="https://girolabs.com/" target="_blank">
                    <img src="{{ "/images/Girolabs_Negro.png" | prepend: site.baseurl }}"
                    alt="kaart" width="180">
                  </a>
                </div>
          <div class="col-sm-12 col-md-4 margen">
            <a href="http://kaartgroup.com/" target="_blank">
              <img src="{{ "/images/EXP_N.png" | prepend: site.baseurl }}" alt="kaart"
              width="125">
            </a>
          </div>
          
          
        </div>
  <div class="row text-center">
    <h2>
      Apoyan
    </h2>
  </div>
  
  <div class="row"  >
    <div class="col-sm-12 col-md-2 margen">
      <a href="http://kaartgroup.com/" target="_blank">
        <img src="{{ "/images/UNAE_N.png" | prepend: site.baseurl }}"
        alt="kaart" width="200">
      </a>
    </div>
    <div class="col-sm-12 col-md-2 margen">
        <a href="http://kaartgroup.com/" target="_blank">
          <img src="{{ "/images/tedic_N.png" | prepend: site.baseurl }}"
          alt="kaart" width="100">
        </a>
      </div>
      <div class="col-sm-12 col-md-2 margen">
          <a href="http://kaartgroup.com/" target="_blank">
            <img src="{{ "/images/CDI_N.png" | prepend: site.baseurl }}" alt="kaart"
            width="130">
          </a>
        </div>
    <div class="col-sm-12 col-md-2 margen">
      <a href="http://kaartgroup.com/" target="_blank">
        <img src="{{ "/images/FADA_N.png" | prepend: site.baseurl }}"
        alt="kaart" width="60">
      </a>
    </div>
    <div class="col-sm-12 col-md-2 margen">
      <a href="http://kaartgroup.com/" target="_blank">
        <img src="{{ "/images/IFADAUNA_N.png" | prepend: site.baseurl }}"
        alt="kaart" width="70">
      </a>
    </div>
  
 
    
    
    <div class="col-sm-12 col-md-2 margen">
      <a href="http://kaartgroup.com/" target="_blank">
        <img style="align-items:center;" src="{{
          "/images/salazar_N.png" | prepend: site.baseurl
        }}" alt="kaart" width="100">
      </a>
    </div>
  </div>
 
  <!-- <div class="row">
      <div class="col-sm-4 col-md-4">
        <a href="http://kaartgroup.com/" target="_blank">
          <img src="{{ "/images/CIDI.png" | prepend: site.baseurl }}" alt="kaart" width="200">
        </a>
      </div> -->
  <!--  <div class="col-sm-4 col-md-4">
      <a href="http://kaartgroup.com/" target="_blank">
        <img src="{{ "/images/Blanco-05.png" | prepend: site.baseurl }}" alt="kaart" width="200">
      </a>
    </div>
    <div class="col-sm-4 col-md-4">
      <a href="http://kaartgroup.com/" target="_blank">
        <img src="{{ "/images/Blanco-06.png" | prepend: site.baseurl }}" alt="kaart" width="200">
      </a>
    </div>
  </div> -->
</section>
<!---
<section id="apoyo" class="container content-section text-center">
  <div class="row text-center">
    <h2>
      Con el Apoyo de
    </h2>
 

 </div>
    <div class="col-sm-4 col-md-4">
      <a href="https://www.argentina.gob.ar/modernizacion/" target="_blank" class="thumbnail">
        <img src="{{ "/images/modernizacion.png" | prepend: site.baseurl }}" alt="modernizacion" width="200">
      </a>
    </div>

    <div class="col-sm-4 col-md-4"> 
      <a href="http://centroargentinodecartografia.org/" target="_blank" class="thumbnail">
        <img src="{{ "/images/cac.png" | prepend: site.baseurl }}" alt="cac" width="100">
      </a></div>

      <div class="col-sm-4 col-md-4">
 <a href="http://geoinquietos.org/grupos/argentina/" target="_blank" class="thumbnail">
        <img src="{{ "/images/geoinquietos-new.png" | prepend: site.baseurl }}" alt="geoinquietos" width="200">
      </a>
     </div>     
       <div class="col-sm-offset-4 col-sm-offset-4 col-sm-4 col-md-4">
 <a href="https://geochicas.org/" target="_blank" class="thumbnail">
        <img src="{{ "/images/geochicas.jpg" | prepend: site.baseurl }}" alt="geochicas" width="200">
      </a>
     </div>     
  <br>
</section>
<section id="transporte" class="container content-section text-center">
 <div class="row text-center">
    <h3>
      Transporte Oficial
    </h3>
 <br>

 </div>
    <div class="col-sm-offset-4 col-sm-offset-4 col-sm-4 col-md-4">
      <a href="http://ww1.aerolineas.com.ar/arg/main.asp?idSitio=AR&idPagina=161&idIdioma=es&congresoID=5960" target="_blank" class="thumbnail">
        <img src="{{ "/images/aerolineas.png" | prepend: site.baseurl }}" alt="aerolineas" width="200">
      </a>
    </div>
<br>
</section>
-->

{% include modals.html %}
