<div id="mastfooter">
  <div class="container">
    <div class="row bottom-espace text-center">
      <div class="col-sm-12 col-md-3 col-md-offset-3">
        {% assign indexPage=site.pages | where:"ref", "index" | where:"lang", page.lang %}
        <a class="dark site-title" href="{{ indexPage.url }}">
          <div class="title-sotm">{{ site.title }}</div>
        </a>
      </div>
      <div class="col-sm-12 col-md-6">
        <a href="https://osm.org"><img class="social-icon" src="{{ "/images/osm.png" | relative_url }}" alt="OpenStreetMap"></a>
        <a target="_blank" href="https://twitter.com/OSMLatam"><img class="social-icon" src="{{ "/images/tw.png" | relative_url }}" alt="twitter"></a>
        <a target="_blank" href="https://www.facebook.com/osmlatam"><img class="social-icon" src="{{ "/images/fb.png" | relative_url }}" alt="facebook"></a>
        <a target="_blank" href="https://www.youtube.com/channel/UCzYgQtCudy1ihZYAlpC3EXQ"><img class="social-icon" src="{{ "/images/youtube.png" | relative_url }}" alt="youtube"></a>
        <a target="_blank" href="https://www.instagram.com/osm_latam_py2019/"><img class="social-icon" src="{{"/images/instagram.png" | relative_url }}" alt="instagram"></a>
        <a target="_blank" href="mailto:2019@osmlatam.org"><img class="social-icon" src="{{ "/images/correologo.png" | relative_url }}" alt="Correo"></a>
      </div>
    </div>
  </div>
</div>

<!-- Javascript
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/startbootstrap-grayscale/3.3.7/js/grayscale.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular-route.js"></script>
<script type="text/javascript" src='{{ "/js/main.js" | prepend: site.baseurl }}'></script>
<!-- Custom Theme JavaScript -->
<script>
  // Closes the sidebar menu
  $("#menu-close").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
  });
  // Opens the sidebar menu
  $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#sidebar-wrapper").toggleClass("active");
  });
  // Scrolls to the selected menu item on the page
  $(function() {
      $('a[href*=#]:not([href=#],[data-toggle],[data-target],[data-slide])').click(function() {
          if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') || location.hostname == this.hostname) {
              var target = $(this.hash);
              target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
              if (target.length) {
                  $('html,body').animate({
                      scrollTop: target.offset().top
                  }, 1000);
                  return false;
              }
          }
      });
  });
  //#to-top button appears after scrolling
  var fixed = false;
  $(document).scroll(function() {
      if ($(this).scrollTop() > 250) {
          if (!fixed) {
              fixed = true;
              // $('#to-top').css({position:'fixed', display:'block'});
              $('#to-top').show("slow", function() {
                  $('#to-top').css({
                      position: 'fixed',
                      display: 'block'
                  });
              });
          }
      } else {
          if (fixed) {
              fixed = false;
              $('#to-top').hide("slow", function() {
                  $('#to-top').css({
                      display: 'none'
                  });
              });
          }
      }
  });
</script>

<script>window.twttr = (function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0],
    t = window.twttr || {};
  if (d.getElementById(id)) return t;
  js = d.createElement(s);
  js.id = id;
  js.src = "https://platform.twitter.com/widgets.js";
  fjs.parentNode.insertBefore(js, fjs);

  t._e = [];
  t.ready = function(f) {
    t._e.push(f);
  };

  return t;
}(document, "script", "twitter-wjs"));</script>
