<div class="modal fade" id="code-of-conduct-en" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-en">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel-en">Conference Code of Conduct</h4>
      </div>
      <div class="modal-body">
        <p>All attendees, speakers, sponsors and volunteers at our conference are required to agree with the following code of conduct. Organisers will enforce this code throughout the event. We are expecting cooperation from all participants to help ensuring a safe environment for everybody.</p>

        <h4>Need Help?</h4>

        <p>Contact one of the organizers at the conference or write us: <a href="mailto:info@osmlatam.org">info@osmlatam.org</a>.</p>

        <h4>The Quick Version</h4>

        <p>Our conference is dedicated to providing a harassment-free conference experience for everyone, regardless of gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion (or lack thereof), or technology choices. We do not tolerate harassment of conference participants in any form. Sexual language and imagery is not appropriate for any conference venue, including talks, workshops, parties, Twitter and other online media. Conference participants violating these rules may be sanctioned or expelled from the conference <em>without a refund</em> at the discretion of the conference organisers.</p>

        <h4>The Less Quick Version</h4>

        <p>Harassment includes offensive verbal comments related to gender, gender identity and expression, age, sexual orientation, disability, physical appearance, body size, race, ethnicity, religion, technology choices, sexual images in public spaces, deliberate intimidation, stalking, following, harassing photography or recording, sustained disruption of talks or other events, inappropriate physical contact, and unwelcome sexual attention.</p>

        <p>Participants asked to stop any harassing behavior are expected to comply immediately.</p>

        <p>Sponsors are also subject to the anti-harassment policy. In particular, sponsors should not use sexualized images, activities, or other material. Booth staff (including volunteers) should not use sexualized clothing/uniforms/costumes, or otherwise create a sexualized environment.</p>

        <p>If a participant engages in harassing behavior, the conference organisers may take any action they deem appropriate, including warning the offender or expulsion from the conference with no refund.</p>

        <p>If you are being harassed, notice that someone else is being harassed, or have any other concerns, please contact a member of conference staff immediately. Conference staff can be identified as they&#39;ll be wearing branded t-shirts.</p>

        <p>Conference staff will be happy to help participants contact hotel/venue security or local law enforcement, provide escorts, or otherwise assist those experiencing harassment to feel safe for the duration of the conference. We value your attendance.</p>

        <p>We expect participants to follow these rules at conference and workshop venues and conference-related social events.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="code-of-conduct-es" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-es">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel-es">Código de Conducta de La Conferencia</h4>
      </div>
      <div class="modal-body">
        <p>Se requiere que todos los asistentes, ponentes, patrocinadores y voluntarios de nuestra conferencia acepten el siguiente código de conducta. Los organizadores harán cumplir este código a lo largo del evento. Esperamos la colaboración de todos los participantes para ayudar a asegurar un ambiente seguro para todos.</p>

        <h4>¿Necesitas ayuda?</h4>

        <p>Hable con uno de los organizadores en la conferencia o escribanos: <a href="mailto:info@osmlatam.org">info@osmlatam.org</a>.</p>

        <h4>La Versión Rápida</h4>

        <p>Nuestra conferencia se dedica a ofrecer una experiencia libre de acosos para todos, independientemente de su género, orientación sexual, discapacidad, apariencia física, talla, raza o religión. No toleramos acosos de los participantes de la conferencia en ninguna de sus formas. El lenguaje e imágenes sexuales no son apropiados para ninguna sala de la conferencia, incluyendo charlas, talleres, fiestas, Twitter y otros medios online. Los participantes de la conferencia que violen estas reglas pueden ser sancionados o expulsados de la misma <em>sin reembolso</em> a discreción de los organizadores.</p>

        <h4>La Versión Menos Corta</h4>

        <p>Los acosos incluyen: comentarios ofensivos relativos a género, orientación sexual, discapacidad, apariencia física, talla, raza, religión, imágenes sexuales en espacios públicos, intimidación deliberada, acoso, persecución, fotografía o grabación de acosos, interrupciones continuadas de charlas u otros eventos, contacto físico inapropiado y atención sexual no deseada.</p>

        <p>Se espera que los participantes instados a parar cualquier comportamiento abusivo obedezcan inmediatamente.</p>

        <p>Los patrocinadores también están sujetos a la política contra acosos. En particular, los patrocinadores no deberían utilizar imágenes, actividades u otro material con contenido sexual. El personal de los puestos (voluntarios incluidos) no debería usar ropa/uniformes/disfraces sexualizados, o que de otra manera crean un ambiente sexualizado.</p>

        <p>Si un participante incurre en un comportamiento abusivo, los organizadores de la conferencia pueden tomar cualquier acción que estimen oportuna, incluyendo advertencias al ofensor o su expulsión de la conferencia sin reembolso.</p>

        <p>Si estás sufriendo algún abuso, adviertes acosos sobre otra persona, o tienes alguna otra preocupación, por favor contacta con algún miembro del personal de la conferencia inmediatamente. El personal de la conferencia puede ser fácilmente identificado, ya que vestirán camisetas del evento.</p>

        <p>El personal de la conferencia estará contento de ayudar a los participates a contactar con la seguridad del hotel/sala o con las autoridades locales, proveer escolta o asistir de otra manera a aquellos que estén sufriendo acosos para que se sientan seguros mientras dure la conferencia. Valoramos tu asistencia.</p>

        <p>Esperamos que los participantes sigan estas reglas en la la conferencia, talleres y eventos sociales relacionados con la conferencia.</p>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="code-of-conduct-pt" tabindex="-1" role="dialog" aria-labelledby="myModalLabel-pt">
  <div class="modal-dialog  modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel-pt">Código de Conduta da conferência</h4>
      </div>
      <div class="modal-body">
        <p>Todos os participantes, palestrantes, patrocinadores e voluntários da conferência precisam concordar com este código de conduta.
        Os organizadores vão reforçar que este código seja seguido durante todo o evento. Esperamos a cooperação de todos os participantes para ajudar a garantir um ambiente seguro para todos.</p>

        <h4>Precisa de ajuda?</h4>

        <p>Fale com um dos organizadores na conferência ou nos envie um email: <a href="mailto:info@osmlatam.org">info@osmlatam.org</a>.</p>

        <h4>Versão rápida</h4>

        <p>
          Nossa conferência é dedicada a fornecer uma experiência de conferência livre de assédio para todos,
          independentemente do sexo, identidade de gênero e expressão, idade, orientação sexual, deficiência,
          aparência física, tamanho corporal, cor de pele, etnia, religião (ou falta dela) ou escolhas de tecnologias.
          Nós não toleramos o assédio aos participantes da conferência, sob qualquer forma. Linguagem e imagens sexuais
          não são apropriadas em nenhum local da conferência, incluindo palestras, workshops, festas, Twitter e
          outras mídias on-line. Os participantes que violarem estas regras poderão ser punidos ou expulsos da conferência
          <em>sem restituição</em>, a critério dos organizadores da conferência.
        </p>

        <h4>Versão mais longa</h4>
        <p>
          Assédio inclui comentários verbais ofensivos relacionados ao gênero, identidade de gênero e expressão,
          idade, orientação sexual, deficiência, aparência física, tamanho corporal, cor de pele, etnia, religião, escolhas
          de tecnologias, imagens sexuais em espaços públicos, intimidação deliberada, perseguição, <em>stalking</em>,
          fotografias ou filmagens constrangedoras, interrupção contínua das apresentações ou outros eventos, contato
          físico inadequado e atenção sexual indesejada.
        </p>

        <p>
          Os participantes que receberem uma solicitação para interromper qualquer comportamento de assédio devem fazê-lo imediatamente.
        </p>

        <p>
          Os patrocinadores também estão sujeitos às políticas antiassédio. Particularmente, os patrocinadores
          não devem usar imagens, atividades ou outro material de cunho sexual. As equipes de estandes e tendas
          (incluindo voluntários) não devem utilizar roupas, uniformes ou trajes sexualizados ou de outra forma
          criar um ambiente sexualizado.
        </p>

        <p>
          Se um participante se envolve em comportamento de assédio, os organizadores da conferência podem tomar
          todas as medidas que considerem adequadas, incluindo avisar o ofensor ou expulsá-lo da conferência sem
          nenhum reembolso.
        </p>

        <p>
          Caso seja assediado, perceba que alguém está sendo assediado ou tenha alguma dúvida, entre
          em contato com um membro da equipe da conferência imediatamente. Membros da equipe da conferência podem ser
          identificados pois estarão vestindo camisetas marcadas.
        </p>

        <p>
          A equipe da conferência estará disposta a auxiliar os participantes a contatarem a segurança do hotel ou
          local, assim como as devidas aplicações da lei local, fornecer escoltas ou ajudar aqueles que sofrerem
          assédio para se sintam seguros pelo o decorrer da conferência. Nós valorizamos a sua participação.
        </p>

        <p>
          Esperamos que os participantes sigam estas regras em salas de apresentação e workshops da conferência,
          além de eventos sociais relacionados.
        </p>
      </div>
    </div>
  </div>
</div>
