<div class="thumbnail col-sm-4 col-md-3 col-md-offset-1 col-lg-3 center-block" ng-repeat="activity in day.activities" style="margin: 1.4rem">
  <div class="caption text-center" ng-if="activity.type != 'interval'" ng-init="talk = get_talk(activity.talk);">
    <h5 class="talk-title">
      {[{ talks[activity.talk-1].title }]}
    </h5>
    <div id="speakers">
      <h6 class="speaker" ng-repeat="speaker in talk.speakers" ng-init="country = get_country(speakers[speaker-1].country);">
        <span ng-if="$index != 0">&nbsp; - &nbsp;</span>
        <img ng-src="/images/flags/{[{country.code}]}.png" alt="{[{country.code}]}" title="{[{country.name}]}" width="24"> {[{ speakers[speaker-1].name }]} - {[{ speakers[speaker-1].organization }]} 
        <span ng-if="activity.type == 3"> 
      </span>
      </h6>
    </div>

<!-- Button trigger modal -->
<!---
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#{[{ talks[activity.talk-1].id }]}">
  Ver resumen
</button>
-->
<!---
    <div class="modal fade" id="{[{ talks[activity.talk-1].id }]}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">{[{ talks[activity.talk-1].title }]}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            {[{ talks[activity.talk-1].abstract }]}
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
          </div>
        </div>
      </div>
    </div>
-->
  </div>
</div>