<section id="venue" class="container content-section text-center">
  <div class="row text-center">
    <h2>
      {{ site.t[page.lang].venue_section.title }}
    </h2>
  </div>

  <div class="container-fluid row">
    <div id="map" data-coordinates="{{ site.map_config.coordinates | jsonify }}"
      data-zoom-level="{{ site.map_config.zoom_level }}"
      data-popup-content="{{ site.map_config.popup_content | escape }}">
    </div>
  </div>

  <div class="container-fluid text-center">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-sm-12">
        <div class="thumbnail">
          <div class="caption text-center">
            <h3>{{ site.t[page.lang].venue_section.place_name }}</h3>
            <p class="venue">
              {{ site.t[page.lang].venue_section.description }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    var mapElement = document.getElementById('map');
    var coordinates = JSON.parse(mapElement.getAttribute('data-coordinates'));
    var zoomLevel = parseInt(mapElement.getAttribute('data-zoom-level'), 10);
    var popupContent = mapElement.getAttribute('data-popup-content');

    var map = L.map('map', { scrollWheelZoom: false }).setView(coordinates, zoomLevel);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    L.marker(coordinates)
      .addTo(map);
  });
</script>