---
---

.intro {
  position: relative;
  width: 100%;
  height: 100vh; 
  background: url('/assets/images/intro-background-1920.jpg') no-repeat center center;
  background-size: cover; 
  color: #ffffff; /* Add white color for text */

  .intro-logo {
    display: block;
    margin: 0 auto; /* Centers the image */
    border-bottom: 1px solid #ffffff; 
  }

  .intro-headline, .intro-dates {
    text-align: center;
  }

  .intro-headline {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 0;
    border-bottom: 1px solid #fff;
  }

  .intro-dates {
    font-size: 30px;
    font-weight: 700;
    padding: 20px 0;
  }
}

.intro::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6); /* Semi-transparent black overlay */
  z-index: 0;
}

.intro-body {
  position: relative;
  z-index: 1;
}

.intro h1, .intro h2, .intro h4 {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7); /* Text shadow for legibility */
}


