---
---

$color-background-body: rgba(48, 48, 48, 1);
$color-text-default: #ffffff;
$color-text-hover: #000000;
$color-border-default: #ffffff;
$color-intro-overlay-start: rgba(255, 255, 255, 0);
$color-intro-overlay-end: rgba(48, 48, 48, 1);
$color-text-shadow: rgba(0, 0, 0, 0.7);

body {
  background-color: $color-background-body;
}

.btn-default {
  color: $color-text-default;
  border-color: $color-border-default;
  
  &:hover {
    color: $color-text-hover;
    background-color: $color-text-default;
    border-color: $color-border-default;
  }
}

.intro {
  position: relative;
  width: 100%;
  height: 100vh; 
  background: url('/assets/images/intro-background-1920.jpg') no-repeat center center;
  background-size: cover; 
  color: $color-text-default; // Add white color for text

  .intro-logo {
    display: block;
    margin: 0 auto; // Centers the image
    border-bottom: 1px solid $color-text-default; 
  }

  .intro-headline, .intro-dates {
    text-align: center;
  }

  .intro-headline {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 20px;
    padding: 20px 0;
    border-bottom: 1px solid $color-text-default;
  }

  .intro-dates {
    font-size: 30px;
    font-weight: 700;
    padding: 20px 0;
  }
}

.intro::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, $color-intro-overlay-start 80%, $color-intro-overlay-end 100%);
  z-index: 0;
}

.intro-body {
  position: relative;
  z-index: 1;
}

.intro h1, .intro h2, .intro h4 {
  text-shadow: 2px 2px 4px $color-text-shadow; // Text shadow for legibility
}
