<footer class="footer container">
  <div class="row">
    <div class="col-md-8">
      <p class="text-muted">© 2024 OpenStreetMap Latam</p>
      <p class="text-muted">
        Background image by
        <a href="https://commons.wikimedia.org/wiki/File:Amanhecer_no_Ver-o-Peso.jpg" target="_blank"
          rel="noopener noreferrer">
          Helderserralva
        </a>
      </p>
    </div>
    <div class="col-md-4 text-right">
      <ul class="list-inline">
        {% for social in site.social %}
        <li><a class="text-muted" href="{{ social[1].url }}"><i class="fa {{ social[1].font_awesome_icon }}"
              style="font-size: 24px;"></i></a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</footer>





<!-- Javascript
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="{{ site.website }}/assets/vendor/jquery-2.2.4.min.js"></script>
<script src="{{ site.website }}/assets/vendor/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{{ site.website }}/assets/vendor/grayscale-3.3.7/grayscale-3.3.7.min.js"></script>


<script>
  document.addEventListener("DOMContentLoaded", function () {
    var mapElement = document.getElementById('map');
    var coordinates = JSON.parse(mapElement.getAttribute('data-map_center'));
    var markerLatLng = JSON.parse(mapElement.getAttribute('data-marker_lat_lng'));
    var zoomLevel = parseInt(mapElement.getAttribute('data-zoom-level'), 10);

    // Define the HTML content for the popup with better organization
    var popupContent = `
      <div style="color: black;">
        <strong>Palacete Pinho</strong><br>
        Rua Doutor Assis, 586<br>
        Cidade Velha<br>
        Belém, PA<br>
        Brazil<br>
        <br>
        <a href="https://www.openstreetmap.org/way/427310787" target="_blank">
          <i class="fa fa-map-marker"></i> OpenStreetMap
        </a><br>
        <a href="https://maps.apple.com/?q=Rua Doutor Assis, 586, Belém, PA, Brazil" target="_blank">
          <i class="fa fa-map-marker"></i> Apple Maps
        </a><br>
        <a href="https://www.google.com/maps/search/?api=1&query=Rua Doutor Assis, 586, Belém, PA, Brazil" target="_blank">
          <i class="fa fa-map-marker"></i> Google Maps
        </a><br>
        <a href="https://waze.com/ul?q=Rua Doutor Assis, 586, Belém, PA, Brazil" target="_blank">
          <i class="fa fa-map-marker"></i> Waze
        </a>
      </div>
    `;

    var map = L.map('map', { scrollWheelZoom: false }).setView(coordinates, zoomLevel);
    L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
    }).addTo(map);

    // Create a marker and bind popup with content, and open it by default
    var marker = L.marker(markerLatLng).addTo(map).bindPopup(popupContent).openPopup();
  });
</script>