<footer class="footer container">
  <div class="row">
    <div class="col-md-4">
      <p class="text-muted">© 2024 OpenStreetMap Latam</p>
    </div>
    <div class="col-md-4 col-md-offset-4 text-right">
      <ul class="list-inline">
        {% for social in site.social %}
        <li><a class="text-muted" href="{{ social[1].url }}"><i class="fa {{ social[1].font_awesome_icon }}"
              style="font-size: 24px;"></i></a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</footer>




<!-- Javascript
–––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="/assets/vendor/jquery-2.2.4.min.js"></script>
<script src="/assets/vendor/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/vendor/grayscale-3.3.7/grayscale-3.3.7.min.js"></script>