<!DOCTYPE html>
<html lang="es">

{% include common/head.html %}

<body>

  {% if site.maintenance_mode %}

  <div style="text-align: center; max-width: 600px; padding: 20px; margin: auto;">
    <p>El sitio de State of the Map LATAM 2024 está en desarrollo.</p>
    <p>Visita el código fuente en <a
        href="https://github.com/osmlatam/sotm-latam-2024">github.com/osmlatam/sotm-latam-2024</a>
    </p>
  </div>

  {% else %}
  {% include common/header.html %}
  {{ content }}
  {% include common/footer.html %}
  {% endif %}

</body>

</html>