<div class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="https://placehold.co/220x320" class="intro-logo" alt="State of the Map Latam 2024 Logo">

          <div class="intro-headline">{{ site.t[page.lang].intro_section.headline }}</div>
          <div class="intro-dates">{{ site.t[page.lang].intro_section.dates }}</div>
          <div class="about-button">
            {% if site.registrations.open %}
            <span class="col-xs-12 col-sm-4 btn-item">
              <a class="btn btn-default" href="{{ site.registrations.url }}""
                target=" _blank" role="button">{{ site.t[page.lang].intro_section.registrations_button }}</a>
            </span>
            {% endif %}
            <span class="col-xs-12 col-sm-4 btn-item">
              <a href="#about" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </span>
            {% if site.program.proposals.open %}
            <span class="col-xs-12 col-sm-4 btn-item">
              <a target="_blank" class="btn btn-default" href="{{ site.program.proposals.url}}" role="button">{{
                site.t[page.lang].intro_section.submit_proposal }}</a>
            </span>
            {% elsif site.program.schedule.ready %}
            <span class="col-xs-12 col-sm-4 btn-item">
              <a target="_blank" class="btn btn-default" href="{{ site.program.schedule.url }}" role="button">{{
                site.t[page.lang].intro_section.schedule }}</a>
            </span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>