{% assign t = site.t[page.lang] %}

<div class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="/assets/images/logo-sotm-latam-2024.svg" class="intro-logo" alt="State of the Map Latam 2024 Logo">

          <div class="intro-headline">{{ t.intro_section.headline }}</div>
          <div class="intro-dates">{{ t.intro_section.dates }}</div>
          <div class="intro-buttons">
            {% if site.registrations.open %}
            <span class="col-xs-12 col-sm-4 btn-item">
              <a class="btn btn-default" href="{{ site.registrations.url }}" target="_blank" role="button">{{
                t.intro_section.registrations_button }}</a>
            </span>
            {% endif %}
            <span class="col-xs-12 col-sm-4 btn-item">
              <a href="#about" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </span>
            {% if site.program.stage == 'call-for-proposals-open' %}
            <span class="col-xs-12 col-sm-4 btn-item">
              <a target="_blank" class="btn btn-default" href="{{ site.program.proposals.url }}" role="button">{{
                t.intro_section.submit_proposal }}</a>
            </span>
            {% elsif site.program.stage == 'program-is-ready' %}
            <span class="col-xs-12 col-sm-4 btn-item">
              <a target="_blank" class="btn btn-default" href="{{ site.program.url }}" role="button">{{
                t.intro_section.view_program }}</a>
            </span>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>