<div class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <img src="https://placehold.co/220x320" class="intro-logo" alt="State of the Map Latam 2024 Logo">

          <div class="intro-headline">{{ site.t[page.lang].intro_section.headline }}</div>
          <div class="intro-dates">{{ site.t[page.lang].intro_section.dates }}</div>
          <div class="about-button">
            <span class="col-xs-12 col-sm-4 btn-item">
              <a class="btn btn-default" href="https://www.eventbrite.com/e/osm-latam-py-2024-tickets-70204859625"
                target="_blank" role="button">{{ site.t[page.lang].intro_section.register_button }}</a>
            </span>
            <span class="col-xs-12 col-sm-4 btn-item">
              <a href="#about" class="btn btn-circle page-scroll">
                <i class="fa fa-angle-double-down animated"></i>
              </a>
            </span>
            <span class="col-xs-12 col-sm-4 btn-item">
              <a target="_blank" class="btn btn-default" href="https://www.papercall.io/osmlatam" role="button">{{
                site.t[page.lang].intro_section.submit_presentation }}</a>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>