<!---Secciòn Agenda-->
<section id="program" class="container content-section">
  <div class="row text-center">
    <h2>
      Agenda General
    </h2>
  </div>
  <div class="col-md-12">
    <div class="table-responsive">
      <table class="table">
        <thead style="background-color: gray; color:white;">
          <tr>
            <th>Día</th>
            <th>Hora</th>
            <th>Aula 1</th>
            <th>Aula 2</th>
            <th>Aula 3</th>
            <th>Offsite</th>
          </tr>
        </thead>
        <tbody>
          <tr style="background-color: #D6FFEF ;">
            <td>Jueves 14</td>
            <td>08:00 - 09:00</td>
            <td colspan="4" style="text-align: center;">Acreditaciones</td>
          </tr>
          <tr>
            <td></td>
            <td>09:00 - 09:30</td>
            <td>
              Palabras de Bienvenida. Introducción OSM LATAM. Mara da Silva (CIDi)
              José González (OSM PY) Roberto Cañete (UNAE)
            </td>
          </tr>
          <tr>
            <td></td>
            <td>09:30 - 10:00</td>
            <td>Ponencia 1. El Poder del Mapa. Carlos Brys</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>10:00-10-30</td>
            <td></td>
            <td>
              Ponencia 2. CARTOCOSTA Urabá: Del mapeo humanitario a la resiliencia
              y conservación. María Fernanda Peña Valencia.
            </td>
          </tr>
          <tr>
            <td></td>
            <td>10:30 - 11:00</td>
            <td>
              Ponencia 3. La parcela, el municipio y el estado. Atahualpa Ayala
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>11:00 - 11:30</td>
            <td></td>
            <td>
              Ponencia 4.Datos y servicios de OSM en el Gobierno de la Ciudad de
              Buenos Aires. Horacio Castellaro.
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>11:30 - 12:00</td>
            <td>
              Ponencia 5. Utilización de Mapas de Tránsito para mejorar la
              Movilidad Urbana.Caso de Estudio: ASUBTE. Pablo Callizo.
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>12:00 - 12:30</td>
            <td></td>
            <td>
              Ponencia 6. Relevamiento de Áreas Informales. Guillermo Brítez.
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr style="background-color: #FFE2BE;">
            <td></td>
            <td>12:30 - 14:00</td>
            <td colspan="4" style="text-align: center;">Almuerzo</td>
          </tr>

          <tr>
            <td></td>
            <td>14:00 - 16:30</td>
            <td>
              Taller 1. Taller introductorio a JOSM. Diego Bernal y Tomás López.
            </td>
            <td>
              Taller 2. Generando banco de tierras mediante el uso de sistemas de
              información geográfica. Fernando Duarte Callizo.
            </td>
            <td>Taller 3. KoBo Toolbox. María Fernanda Peña Valencia.</td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td></td>
            <td>16:30 - 19:00</td>
            <td>
              Taller 4. Explotación de datos de OSM con QGIS. Horacio Castellaro
            </td>
            <td>
              Taller 5. Creación y gestión de disposiciones de botones
              personalizadas para OSMTracker. Brandon Oviedo Sánchez
            </td>
            <td>
              Taller 5. Creación y gestión de disposiciones de botones
              personalizadas para OSMTracker. Brandon Oviedo Sánchez
            </td>
            <td>
              Taller 6. Mapeo Colaborativo con OSM. Uso de los editores iD y JOSM.
              Carlos Brys.
            </td>
          </tr>

          <tr>
            <td></td>
            <td>19:00 - 20:00</td>
            <td>KEYNOTE Jessica Sena.</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr style="background-color: #FFE2BE;">
            <td></td>
            <td>20:00</td>
            <td colspan="4" style="text-align: center;">Geobirras</td>
          </tr>
          <tr>
            <td>Viernes 15</td>
            <td>9:00 - 9:30</td>
            <td>
              Ponencia 7. Panel sobre #GeoChicas Rol y participación de las
              mujeres en comunidades tecnológicas. Selene Yang y Jessica Sena.
            </td>
            <td>Ponencia 8. Cobañados. Jonny Alvarenga.</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>9:30 - 10:00</td>
            <td></td>
            <td>
              Ponencia 9. Cálculo de un Índice de Calidad de Vida en la Cuenca del
              Río Reconquista, Buenos Aires, Argentina. Carolina Byl y Lucila
              Sandri.
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>10:00 - 10:30</td>
            <td>
              Ponencia 10. Las Calles de las Mujeres: Una mirada técnica. Jessica
              Sena.
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>10:30 - 11:00</td>
            <td></td>
            <td>Ponencia 11. Map With AI. David Dongzhe Yang, PhD.</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>11:00 - 11:30</td>
            <td>
              Ponencia 12. ¿Por qué los espacios públicos tienen un uso
              diferenciado? Enfoque feminista en las calles. Ximena Teresa
              Yanaguaya Mendoza. Online.
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr></tr>
          <tr>
            <td></td>
            <td>11:30 - 12:00</td>
            <td></td>
            <td>
              Ponencia 13. #NoTopoMias : nuevos territorios a partir de la
              linguodiversidad. Camilo Fique.
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr></tr>
          <tr>
            <td></td>
            <td>12:00 - 12:30</td>
            <td>
              Ponencia 14. [Documental] Nomad Maps: el Tour andino cartográfico.
              Alban Vivert, presenta en su lugar Fernando Castro.
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr style="background-color: #FFE2BE;">

            <td></td>
            <td>12:30 - 14:00</td>
            <td colspan="4" style="text-align: center;">Almuerzo</td>


          <tr>
            <td></td>
            <td>14:00 - 16:30</td>
            <td>Taller 7. Cartografía social para
              activistas. Fernando Castro</td>
            <td>Taller 8. OSM + PostgreSQL +
              Docker para la importación y
              procesamiento de datos. Gonzalo
              Gabriel Pérez</td>
            <td>Taller 9. Conociendo la realidad
              urbana. Aproximación mediante los
              puntos de interés de OSM. Sabik
              García Ávalos.</td>
            <td></td>

          </tr>
          <tr>
            <td></td>
            <td>16:30 - 19:00</td>
            <td>Taller 10. #LasCallesDeEncarnación.
              Jessica Sena y Selene Yang.</td>
            <td>Taller 11. RapiD - Editor. David
              Dongzhe Yang, PhD
            </td>
            <td>Taller 12. Creando tu primer mapa
              usando Leaflet. José González von
              Schmeling.
            </td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>19:00 - 20:00 </td>
            <td>KEYNOTE Fernando Castro</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr style="background-color: #FFE2BE;">

            <td></td>
            <td>20:00</td>
            <td colspan="4" style="text-align: center;">Geobirras</td>

          <tr>

          <tr>
            <td>Sabado 16</td>
            <td>8:00 </td>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="5" style="vertical-align : middle;text-align:center;"> Taller 13. Taller
              participativo en
              Unidos TECHO. Marcia González. </td>
          </tr>
          <tr>
            <td></td>
            <td>9:00 - 9:30</td>
            <td>Ponencia 15. TOPA App.</td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>9:30 - 10:00</td>
            <td></td>
            <td>
              Ponencia 16. GeoLibres:
              formalizando la comunidad en
              Argentina. Gonzalo Gabriel Pérez.

            </td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>10:00 - 10:30</td>
            <td> Ponencia 17. Proyecto Map Py
              OSM. Katrina Lisnichuk, Mara da
              Silva.
            </td>
            <td></td>
            <td></td>
          </tr>

          <tr>
            <td></td>
            <td>10:30 - 11:00</td>
            <td> Ponencia 18. La plataforma Tupale.
              co - Caso práctico en Paraguay:
              mapeo de espacios escénicos de
              Latinoamérica. Miguel Buendía y
              Fernando Castro
            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>11:00 - 11:30</td>
            <td> Conversatorio 1: Etiquetas OSM
              Paraguay.

            </td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td></td>
            <td>11:30 - 12:00</td>
            <td>
            </td>
            <td>Conversatorio 2: Siguiente edición
              de SOTM LATAM.</td>
            <td></td>
            <td></td>
          </tr>

          <tr style="background-color: #D6FFEF ;">
            <td></td>
            <td>12:00 - 12:30</td>
            <td colspan="4" style="text-align: center;"> Cierre SOTM LATAM 2024
            </td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>