<section id="program" class="container content-section text-center">
  <div class="container">
    {% assign t = site.t[page.lang].program_section %}
    {% assign program_stage = site.program.stage %}

    <h2>
      <a href="#program">
        {{ t.title }}
      </a>
    </h2>

    {% case program_stage %}
    {% when "call-for-proposals-will-open-soon" %}
    <p>{{ t.call_for_proposals_will_open_soon }}</p>

    {% when "call-for-proposals-open" %}
    <p>{{ t.call_for_proposals_open }}</p>
    <a target="_blank" href="{{ site.program.url }}" class="btn btn-default">{{ t.submit_your_proposal }}</a>

    {% when "call-for-proposals-closed" %}
    <p>{{ t.thank_you_submissions }}</p>

    {% when "program-is-ready" %}
    <p>{{ t.program_is_finalized }}</p>
    <a target="_blank" href="{{ site.program.url }}" class="btn btn-default">{{ t.view_program }}</a>
    {% endcase %}
  </div>
</section>