<section id="sponsors" class="container content-section text-center">
  <div class="row text-center">
    <h2>
      Patrocinan
    </h2>
  </div>
  <div class="row" style="height: 100%;">
    <div class="col-sm-12 col-md-4 margen">
      <a href="http://kaartgroup.com/" target="_blank">
        <img src="{{ " /images/cnc.png" | prepend: site.baseurl }}" alt="kaart" width="300">
      </a>
    </div>
    <div class="col-sm-12 col-md-4 margen">
      <a href="" target="_blank">
        <img src="{{ " /images/topa.png" | prepend: site.baseurl }}" alt="kaart" width="250">
      </a>
    </div>
    <div class="col-sm-12 col-md-4 margen" style="display:flex;align-items: center;margin: auto;">
      <a href="" target="_blank">
        <img src="{{ " /images/teisa.png" | prepend: site.baseurl }}" alt="kaart" width="165">
      </a>
    </div>


  </div>

  <div class="row text-center" style="margin-top: 70px">
    <h2>
      Con el Auspicio de
    </h2>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-4 margen" style="display:flex;align-items: center;">
      <a href="#" target="_blank">
        <img src="{{ " /images/cooperacion.png" | prepend: site.baseurl }}" alt="kaart" width="300">
      </a>
    </div>

    <div class="col-sm-12 col-md-4 margen">
      <a href="https://girolabs.com/" target="_blank">
        <img src="{{ " /images/Girolabs_Negro.png" | prepend: site.baseurl }}" alt="kaart" width="180">
      </a>
    </div>
    <div class="col-sm-12 col-md-4 margen">
      <a href="http://kaartgroup.com/" target="_blank">
        <img src="{{ " /images/EXP_N.png" | prepend: site.baseurl }}" alt="kaart" width="125">
      </a>
    </div>


  </div>
  <div class="row text-center">
    <h2>
      Apoyan
    </h2>
  </div>

  <div class="row">
    <div class="col-sm-12 col-md-2 margen">
      <a href="http://kaartgroup.com/" target="_blank">
        <img src="{{ " /images/UNAE_N.png" | prepend: site.baseurl }}" alt="kaart" width="200">
      </a>
    </div>
    <div class="col-sm-12 col-md-2 margen">
      <a href="http://kaartgroup.com/" target="_blank">
        <img src="{{ " /images/tedic_N.png" | prepend: site.baseurl }}" alt="kaart" width="100">
      </a>
    </div>
    <div class="col-sm-12 col-md-2 margen">
      <a href="http://kaartgroup.com/" target="_blank">
        <img src="{{ " /images/CDI_N.png" | prepend: site.baseurl }}" alt="kaart" width="130">
      </a>
    </div>
    <div class="col-sm-12 col-md-2 margen">
      <a href="http://kaartgroup.com/" target="_blank">
        <img src="{{ " /images/FADA_N.png" | prepend: site.baseurl }}" alt="kaart" width="60">
      </a>
    </div>
    <div class="col-sm-12 col-md-2 margen">
      <a href="http://kaartgroup.com/" target="_blank">
        <img src="{{ " /images/IFADAUNA_N.png" | prepend: site.baseurl }}" alt="kaart" width="70">
      </a>
    </div>




    <div class="col-sm-12 col-md-2 margen">
      <a href="http://kaartgroup.com/" target="_blank">
        <img style="align-items:center;" src="{{
          " /images/salazar_N.png" | prepend: site.baseurl }}" alt="kaart" width="100">
      </a>
    </div>
  </div>

</section>